  <div class="span4">
    <%= render 'layouts/navbar2' %>
  </div>
  <div class="span8">
  	<h1 id="Google_Analyticsの導入方法"><a name="Google_Analyticsの導入方法" href="#Google_Analyticsの導入方法"></a>Google Analyticsの導入方法</h1>

  	<hr class="page">

	<p>①<a href="http://www.google.com/intl/ja_jp/analytics/" target="_blank">http://www.google.com/intl/ja_jp/analytics/</a>にて「アカウント作成」を行う<br>
	※Googleアカウントが必要となります。<!-- 各項目に画像を挿入 --><br><br>
	②アカウント登録画面にて必要な項目を入力<br>
	※ウェブサイトが必要になります。<!-- 各項目に画像を挿入 --><br><br>
	③利用規約が表示されるので、「同意する」をクリック<!-- 各項目に画像を挿入 --><br><br>
	④登録完了後、Google <br>Analyticsの管理画面を開き、表示された「トラッキングコード」をコピー<!-- 各項目に画像を挿入 --><br><br>
	⑤コピーした「トラッキングコード」をアクセス解析したいページのコードにペーストします。<!-- 各項目に画像を挿入 --><br>
	※《head》～《/head》の中に記述することが推奨されています。<br><br>

	参考サイト：<a href="http://viral-community.com/wordpress/google-analytics-setting-864/" target="_blank">http://viral-community.com/wordpress/google-analytics-setting-864/</a>
	</p>

  	<!--p>さて、いよいよWebアプリケーションを開発するためのフレームワーク、Ruby on Railsについての学習に入っていきます。</p><p>ここで意識しておきたい点としては、 <strong>Rails</strong> というのはRubyとはまったくの別物ということです。<br>たしかに、Rubyでできていることには違いありませんが、使う上での定義はまったく異なります。<br>Rubyはあくまでプログラミング言語、それだけではただの文字の集まりに過ぎません。<br>一方Railsは、それだけでWebアプリケーションを制作するために便利な機能がたくさん詰まった道具箱です。<br>例えば制作中のWebアプリケーションに「User認証機能を実装したい」などといった作り手のニーズにRailsは、快く自分の持つ機能を提供し、機能のほとんどをコードを書くことなく実装してくれます。</p><p>なので、Rubyという枠は取っ払って、<strong>Rails</strong> としての使い方を理解するようここでは意識していってください。</p><p>このセクションでは、ミニツイッターアプリケーション</strong>の制作を行いながら、実践形式でRailsの学習を進めていきます。<br>
  	これをプログラミング基礎編の最後の課題とし、終えるころにはプログラミングの基礎はもちろん、WebアプリケーションひいてはWebサービスがどのように出来上がっていくのかといった過程を学びつつ、実際に人に使ってもらえるアプリケーションをひとつ作り上げることができます。</p-->
  </div>