  <div class="span4">
    <%= render 'layouts/navbar2' %>
  </div>
  <div class="span8">
  	<h1 id="Adwords設定・データの解析方法"><a name="Adwords設定・データの解析方法" href="#Adwords設定・データの解析方法"></a>Adwords設定・データの解析方法</h1>

  	<hr class="page">

	<h5>■ユニークユーザー（UU）、セッション、ページビュー（PV）</h5>
	<p></p>
  </div>