  <div class="span4">
    <%= render 'layouts/navbar2' %>
  </div>
  <div class="span8">
  	<h1 id="なぜリスティング広告を使うのか？"><a name="なぜリスティング広告を使うのか？" href="#なぜリスティング広告を使うのか？"></a>なぜリスティング広告を使うのか？</h1>

  	<hr class="page">

  	<p></p>
  </div>