  <div class="span4">
    <%= render 'layouts/navbar' %>
  </div>
  <div class="span8">
	  <h1 id="セルフコーチングワークについて"><a name="セルフコーチングワークについて" href="#セルフコーチングワークについて"></a>セルフコーチングワークについて</h1><hr class="page"><p>このセクションでは、<strong>Webの世界</strong>の話をします。<br>プログラミングを学ぶ上でWebの全体像を知ることにより、<br>今どの部分に手をつけているのかや、どんなことをやろうとしているのかが<br>より鮮明に頭の中でイメージができ、学習スピードを上げるためです。</p><p>そのためにこのセクションを読み進めながらWebの全体像を頭の中でしっかりイメージし、各言語や技術がどのポジションを扱っているのかを把握しておいてください。</p>
  </div>