  <div class="span4">
    <%= render 'layouts/navbar' %>
  </div>
  <div class="span8">
	<h1 id="セルフコーチングワークについて"><a name="セルフコーチングワークについて" href="#セルフコーチングワークについて"></a>セルフコーチングワークについて</h1>

	<hr class="page">

	<!--p>このセクションでは、<strong>Webの世界</strong>の話をします。<br>プログラミングを学ぶ上でWebの全体像を知ることにより、<br>今どの部分に手をつけているのかや、どんなことをやろうとしているのかが<br>より鮮明に頭の中でイメージができ、学習スピードを上げるためです。</p><p>そのためにこのセクションを読み進めながらWebの全体像を頭の中でしっかりイメージし、各言語や技術がどのポジションを扱っているのかを把握しておいてください。</p-->

	<h4 id="なぜセルフコーチングワークをやるのか？"><a name="なぜセルフコーチングワークをやるのか？" href="#なぜセルフコーチングワークをやるのか？"></a>なぜセルフコーチングワークをやるのか？</h4>
	<p>今回、『セルフコーチングワーク』を学習前に必ず行ってもらいます。<br>
	なぜなら、このワークを行うことで、<br>
	自分自身が心から求めている結果や目標を理解することができ、<br>
	WEBマーケティングを学ぶ上で、モチベーションを保つ大きな要素になります。<br><br>

	理想の人生を手に入れるためには、<br>
	人生の角度を1度・2度とあげていく必要があります。<br>
	このワークは人生の角度を上げます。<br><br>

	そして、始める前だけでなく、<br>
	1ヶ月後、3ヶ月後、半年後と続けましょう。<br><br>

	必ず毎回違う人生を求めています。<br>
	それで良いのです。<br>
	もし、違う人生を求めていたら、それは「成長の証」になります。<br><br>

	必ず、このワークをこなして、理想の人生を手に入れましょう。</p>

	<hr>

	<h4 id="セルフコーチングワークを踏まえて"><a name="セルフコーチングワークを踏まえて" href="#セルフコーチングワークを踏まえて"></a>セルフコーチングワークを踏まえて</h4>
	<p>侍エンジニア塾のインストラクターより、<br>
	今後の目標設定における提案をさせて頂きます。<br><br>

	そして、皆様のより良いプログラミング学習をお手伝い致します。<br>
	自分の心の中にあったイメージを書き出すことによって『見える化』し、<br>
	それを人に伝えること。<br>
	それによって夢の実現が加速します。<br><br>

	まずは4歳児の脳みそになったつもりで、思いつくことを書き出してみましょう。</p>

	<hr>

	<h4 id="セルフコーチングワークの内容"><a name="セルフコーチングワークの内容" href="#セルフコーチングワークの内容"></a>セルフコーチングワークの内容</h4>

	<h5>欲しいもの</h5>
	<p>自分が心から欲しいと思う「もの」「サービス」「スキル」を<br>
		10個以上考えてみましょう。</p>

	<h5>なりたい自分</h5>
	<p>自分がなりたい「外見」「内面」「人からどう思われるか」を<br>
		10個以上考えてみましょう。</p>

	<h5>達成したいこと</h5>
	<p>自分が達成したい「夢」「志」「目標」を<br>
		10個以上考えてみましょう</p>

	<h5>TOP5</h5>
	<p>『欲しいもの』『なりたい自分』『達成したいこと』に<br>
		優先順位をつけましょう。<br>
		そして、TOP5を決めてください。
	</p>

	<h5>スケジュールに落とし込む</h5>
	<p>TOP5に挙げたモノゴトをスケジュールに落とし込みます。<br>
		また、これから学習することに対してのモチベーション要素になるよう、<br>
		『WEBマーケティングを学習する理由』との関連付けをします。
	</p>

  </div>