  <div class="span4">
    <%= render 'layouts/navbar4' %>
  </div>
  <div class="span8">
  	<h1 id="mind"><a name="mind" href="#mind"></a>Mind</h1><hr class="page"><p>基本的な設計が完了していよいよここから実際のWebサービス開発に入っていきます。前セクションで立てた計画をもとに開発をすすめていきましょう。</p><p>意識しておきたいポイント</p><ul>
<li>開発計画通りに進められるようしっかりとスケジュール調整をする</li>
<li>可能な限り毎日集中して取り組む</li>
<li>開発を楽しむ</li>
</ul><p>それでは実際にWebサービスを開発していきましょう。</p>
  </div>