  <div class="span4">
    <%= render 'layouts/navbar4' %>
  </div>
  <div class="span8">
  	<h1 id="開発フェーズ"><a name="開発フェーズ" href="#開発フェーズ"></a>開発フェーズ</h1><hr class="page"><p>しっかりとした計画が立てられれば、開発は流れにそって進めていくだけです。<br>計画通り実装できなくてハマることもあるかもしれませんが、ここまで学習を進めていただいたということは、必ずやり遂げられる力が身に付いています。</p><p>自分で設計したWebサービスの開発が完了すれば、技術者としても大きく成長することになります。自分のつくるWebサービスをユーザーが笑顔で使っているところなどを想像でもしながら楽しんで開発に取り組んでいきましょう。</p><hr class="section">
  </div>