  <div class="span4">
    <%= render 'layouts/navbar4' %>
  </div>
  <div class="span8">
  	<h1 id="クラウドソーシング"><a name="クラウドソーシング" href="#クラウドソーシング"></a>クラウドソーシング</h1>

  	<hr class="page">

  	<p>現在、WEB上にてアウトソーシングできるWEBサイト<br>
	『クラウドソーシング』サービスが充実してきました。<br><br>

	クラウドソーシングとは、<br>
	「個人・企業からの仕事を、インターネット上で不特定多数の個人・企業に仲介するサービス」<br>
	簡潔にまとめると、「案件ごとのマッチングサービス」です。<br><br>

	フリーランスを目指す方は、<br>
	1ステップとして、クラウドソーシングにて案件を受注できると良いでしょう。<br><br>

	マーケター・経営者の方は、<br>
	案件の委託先の候補として利用しましょう。<br>
	特にクラウドソーシングでは安価なやり取りも可能になっているため、<br>
	予算が限られている企業にとっては都合が良いと思います。<br><br>

	なお、クラウドソーシングの料金相場やスケジュールに関しては、<br>
	4-2-2、4-2-3にてお伝えしていますので、確認してみましょう。<br><br>


	今回はクラウドソーシング大手2社の紹介をします。<br><br>

	『ランサーズ』<br>
	<%= link_to "http://www.lancers.jp/" %><br><br>

	『クラウドソーシング』<br>
	<%= link_to "http://crowdworks.jp/" %></p>

  	<!--p>機能一覧のリストアップが完了したらそれを元に機能一覧表を作成します。<br>この機能一覧表を元にこの後の画面設計や工数計算、スケジュールなどを出していくのでとても重要な資料になります。</p><p>まずは参考にブログシステムを例にした機能一覧表をみてみましょう。</p><hr class="section"><p><%= image_tag"4_2_001.png", :alt => "4_2_001.png" %></p><hr class="section"><p>機能一覧表は機能が把握できればどのような書式でも構いませんが、NumbersやExcel<br>などの表計算ソフトを利用するのがおすすめです。</p><p>機能一覧表には下記項目を記載していきます。</p><h3 id="id"><a name="id" href="#id"></a>ID</h3><p>機能にIDを割り振ります。</p><h3 id="機能分類"><a name="機能分類" href="#機能分類"></a>機能分類</h3><p>大枠での機能を分類します。</p><h3 id="機能"><a name="機能" href="#機能"></a>機能</h3><p>機能を表記します。</p><h3 id="画面id"><a name="画面id" href="#画面id"></a>画面ID</h3><p>画面設計書と連携を取るため記載します。<br>どの機能をどの画面に実装するのかを把握するため記載します。<br>※機能一覧リストアップの段階では記載は不要です。</p><h3 id="内容"><a name="内容" href="#内容"></a>内容</h3><p>機能の詳細な内容や補足を記載しておきます。</p><hr class="section"><p>ブログシステム機能一覧表を参考にWebサービスの機能一覧表をつくっていきましょう。</p-->
  </div>
