  <div class="span4">
    <%= render 'layouts/navbar4' %>
  </div>
  <div class="span8">
  	<h1 id="mind"><a name="mind" href="#mind"></a>Mind</h1><hr class="page"><p>このセクションでは、Webサービスの機能一覧をリストアップしていただきます。</p><p>Webサービスというのは細かい機能の組み合わせで構成されています。<br>設計の土台となるので漏れが出ないようにWebサービスの構成をしっかりと考えながら、どのような機能を実装すれば、Webサービスが作れるのかを考えて機能をリストアップしていきましょう。</p><p>このセクションで意識しておきたいポイント</p><ul>
<li>Webサービスに必要な機能をできるだけ細かく分けて書き出す。</li>
<li>開発を意識して自分が実装をイメージできるくらい具体的に機能を切り分けてリストアップする。</li>
</ul><p>それでは実際に機能をリストアップしていきましょう。</p>
  </div>