  <div class="span4">
    <%= render 'layouts/navbar4' %>
  </div>
  <div class="span8">
  	<h1 id="webサービスに必要な機能を考える"><a name="webサービスに必要な機能を考える" href="#webサービスに必要な機能を考える"></a>Webサービスに必要な機能を考える</h1><hr class="page"><p>アイデア・コンセプトもとにどんな機能が必要なのかを考えてみましょう。</p><p>例えばブログシステムを作りたいのであれば、ブログシステムを構成する機能をひとつひとつ考えていきます。</p><hr class="section"><p>ブログ一覧を表示する機能が必要　→　<strong>ブログ一覧表示機能</strong><br>記事詳細を表示す機能が必要　→　<strong>ブログ詳細表示機能</strong><br>ブログ記事を投稿する機能が必要　→　<strong>記事投稿登録機能</strong><br>コメント登録も実装しよう　→　<strong>コメント投稿機能</strong>  </p><hr class="section"><p>上記を例に思いつく限り必要な機能を考えていきます。</p><hr class="section">
  </div>