  <div class="span4">
    <%= render 'layouts/navbar4' %>
  </div>
  <div class="span8">
  	<h1 id="mind"><a name="mind" href="#mind"></a>Mind</h1>

  	<hr class="page">

  	<p>	今回はWEB制作を行う・もしくは委託する際の基本知識となる、<br>
	イロハをお伝えしたいと思います。<br><br>

	HP作成と一重に言っても、制作会社によって金額や内容も異なり、<br>
	また、必要な機能やデザイン素材によっても色々と変更が起こってきます。<br><br>

	そのため、明確な基準というものが存在しないので、<br>
	制作する側も、委託する側も損の無いように知識を貯えておきましょう。<br><br>

	《フリーランス志望の方》<br>
	基本的な目安はおさえているかと思いますが、<br>
	今回は『アウトソーシングしながらディレクションできる』ことを目標に、<br>
	復習がてら確認していきましょう。<br><br>

	《マーケターの方》<br>
	WEB制作における金額やスケジュールを把握しておくことで、<br>
	プロジェクトの予算管理や進捗確認が楽になります。<br>
	また、制作からWEBマーケティングまで一連の流れを理解している<br>
	マーケターの方は重宝されますので、しっかりとおさえておきましょう。<br><br>

	《経営者・マネージャー》<br>
	ココの方が一番おさえておきたい人になります。<br>
	特にスタートアップ経営の場合は、予算もおさえたいですし、<br>
	スケジュールもスピードが重要になります。<br><br>

	そこで、WEB制作出来る人を雇うのか、<br>
	アウトソーシングでまとめるか、経営判断が問われます。<br><br>

	また、制作会社に高額な料金を払っても、<br>
	コチラ側で運用できず、運用料金を払わされたり、<br>
	テンプレートを使っていて、他のサイトと似たものになったり、<br>
	そういうことの内容に、学習しましょう。</p>
  </div>