  <div class="span4">
    <%= render 'layouts/navbar4' %>
  </div>
  <div class="span8">
  	<h1 id="必要な機能をリストアップしていく"><a name="必要な機能をリストアップしていく" href="#必要な機能をリストアップしていく"></a>必要な機能をリストアップしていく</h1><hr class="page"><p>Webサービスに必要な機能を考えたら、機能一覧をリストアップしてみましょう。</p><p>前セクションを例に挙げると下記のように機能をリストアップします。</p><h3 id="ブログシステム機能一覧"><a name="ブログシステム機能一覧" href="#ブログシステム機能一覧"></a>ブログシステム機能一覧</h3><hr class="section"><ul>
<li>新規記事登録機能</li>
<li>ブログ一覧表示機能</li>
<li>ブログ詳細表示機能</li>
<li>ブログ編集機能</li>
<li>ブログ削除機能</li>
<li>コメント登録</li>
<li>コメント編集</li>
<li>コメント削除</li>
</ul><hr class="section"><p>それぞれを細かく見ていくと登録時の入力項目チェックや項目の日本語化、一覧のページングなど細かい機能はありますが、<strong>まず画面単位の大枠をリストアップ</strong>してみましょう。</p><p>細かい機能については画面設計時に追加を考えても良いので全体の構成を把握するために<strong>主要機能</strong>をリストアップしてみてください。</p><p>もちろんこの段階で細かい機能までリストアップいただいても大丈夫です。</p><p>例えばドットインストールのサイト自体は大枠ですが、下記のような機能を実装しています。</p><h3 id="ドットインストール本体サイトの機能一覧"><a name="ドットインストール本体サイトの機能一覧" href="#ドットインストール本体サイトの機能一覧"></a>ドットインストール本体サイトの機能一覧</h3><hr class="section"><ul>
<li>会員登録機能</li>
<li>ログイン機能</li>
<li>ログアウト機能</li>
<li>レッスン一覧表示</li>
<li>詳細ページ表示機能</li>
<li>カテゴリ機能</li>
<li>学習メモ機能</li>
<li>動画再生機能</li>
<li>完了状況記録機能</li>
<li>補足表示機能</li>
<li>プロフィール編集機能</li>
<li>カレンダー機能</li>
<li>学習管理</li>
<li>レッスン表示機能</li>
</ul><hr class="section"><p>以上を参考に作りたいWebサービスの必要な機能を考えリストアップしていきます。</p>
  </div>