  <div class="span4">
    <%= render 'layouts/navbar3' %>
  </div>
  <div class="span8">
  	<h1 id="mind"><a name="mind" href="#mind"></a>Mind</h1><hr class="page"><p>これから『画像アップロード』機能を実装していきます。</p><p>画像アップロード機能を使用する際は、【paperclip】というgemライブラリを使います。</p><hr class="section"><p><strong>paperclip</strong></p><p>【paperclip】とは、Ruby on Rails用の画像アップロードライブラリです。<br>「paperclip」を使用することで、簡単に画像をアップロードすることができます。</p><p>画像アップロードライブラリには、「CarrierWave」というモノもありますが、<br>「paperclip」のほうが手軽に実装が出来、<br>使い方次第ではpdfなどのファイルもアップロードが出来るため、<br>今回は「paperclip」を使ったアップローダーを実装しましょう。</p><p><a href="https://github.com/thoughtbot/paperclip">paperclip公式githubサイト</a><br><a href="http://blog.inouetakuya.info/entry/20131014/1381749488">画像アップロードライブラリー比較ブログ</a></p><hr class="section"><p>このセクションで意識しておきたいポイント<br>・modelの設定方法<br>・controllerの設定（パラメータの引き渡し方）</p><p>それでは実装を進めてみましょう！</p>
  </div>