<div class="row">
	<div class="center hero-unit">
		<h1>侍エンジニア塾</h1>

		<h2>
			『最強独学メソッド』が詰まった侍のカリキュラム。<br>
			Ruby on Railsを使ったプログラミング学習を通して<br>ITスキルはもちろん、ロジカルな考え方、コミュニケーション能力、<br>
			ファイナンスといった独立やフリーランスとして生きるための<br>
			必須スキルを身につけましょう。
		</h2>
	</div>
</div>
