  <div class="span4">
    <%= render 'layouts/navbar4' %>
  </div>
  <div class="span8">
  	<h1 id="mind"><a name="mind" href="#mind"></a>Mind</h1><hr class="page"><p>このセクションでは、データベースを設計していきます。</p><p>データベース設計はまずどのようなテーブルが必要なのかと、テーブルの列（カラム）とデータ形式はどうするかを考えていきます。<br>データベースはデータを保存しておいて、好きなときに好きな形で取り出すことができます。</p><hr class="section"><p><%= image_tag"4_4_001.gif", :alt => "データベース" %></p><hr class="section"><p>このセクションで意識しておきたいポイント</p><ul>
<li>どのようなテーブルが必要かを考える</li>
<li>テーブルの列（カラム）とデータ形式をどうするかを考える</li>
<li>設計が複雑になると検索速度が遅くなるのでシンプルに設計する</li>
</ul><p>それでは実際にデータベースを設計していきましょう。</p>
  </div>