  <div class="span4">
    <%= render 'layouts/navbar2' %>
  </div>
  <div class="span8">
  	<h1 id="Google_Analytics"><a name="Google_Analytics" href="#Google_Analytics"></a>Google Analytics</h1>

  	<hr class="page">

  	<p>	ウェブ解析を行う際に、<br>
	「Google Analytics」というGoogle社が開発した無料ツールを使用して、<br>
	HPにおける様々なデータを取得して解析します。<br><br>

	具体的な機能としては、<br>
	・広告効果の測定（Google Adwordsとの連携）<br>
	・ユーザーのサイト内移動履歴の確認<br>
	・検索キーワードの解析<br>
	などがあります。<br><br>

	Google Analyticsを使うことにより、<br>
	・どのページへのアクセスが多いのか？<br>
	・どのページの滞在時間が多いのか？<br>
	・どんな検索キーワードから流入しているのか？<br>
	・PCからのアクセスが多いのか？スマホからのアクセスが多いのか？<br>
	・どのページで離脱（違うサイトに移動）してしまうのか？<br>
	など、確認することが出来ます。<br><br>

	これらを確認することで、<br>
	「現状の問題点」や「強み」を理解することができ、<br>
	改善を重ねてPDCAサイクルを回したり、<br>
	強みから新しいアイデアや施策を行うことが可能です。<br><br>

	利用方法は簡単ですので、<br>
	まずはGoogle Analyticsの導入（登録）を始めましょう。</p>
  </div>