  <div class="span4">
    <%= render 'layouts/navbar2' %>
  </div>
  <div class="span8">
  	<h1 id="なぜランディングページを用意するのか？"><a name="なぜランディングページを用意するのか？" href="#なぜランディングページを用意するのか？"></a>なぜランディングページを用意するのか？</h1>

  	<hr class="page">

  	<p></p>

  	<!--p>ドットインストールの<a href="http://dotinstall.com/lessons/basic_rails_v2">Ruby on Rails4入門</a>を使ってRuby on Railsの基礎を習得します。<br>開発環境については、ドットインストール内ではVagrantという開発環境を構築して進めていますが、ここではMacのローカル環境 (Unixコマンド基礎やRuby基礎と同じ) を使用します。</p><p>Railsは協力なフレームワークのため、自動で結構な数のファイルを生成します。<br>ですが、このすべてを入門の段階で使うかというと、そうではありません。<br>むしろいじるファイルはこの中の10 ~ 20程度です。<br>その中のほとんどは、これまでに学習してきたHTML,CSS,Rubyのコードからなっているため、復習しながらかみ砕いていけば何をしているコードなのかはだいたい理解することができます。<br>その中で多少はわからない文があったり、Rails風に記述されたRubyのコードがあったりしますが、深くは考えず、こう書けばこれができるんだな。くらいでサクサク進んでいってください。<br>ひとつのことで悩んで時間を費やすより、ガリガリコードを書いて反復し、身体にすり込ませたましょう。</p-->
  </div>