  <div class="span4">
    <%= render 'layouts/navbar2' %>
  </div>
  <div class="span8">
  	<h1 id="LPOについて"><a name="LPOについて" href="#LPOについて"></a>LPOについて</h1>

  	<hr class="page">

  	<p></p>
  </div>