  <div class="span4">
    <%= render 'layouts/navbar2' %>
  </div>
  <div class="span8">
  	<h1 id="サテライトページとは？"><a name="サテライトページとは？" href="#サテライトページとは？"></a>サテライトページとは？</h1>

  	<hr class="page">

	<p></p>
  </div>