  <div class="span4">
    <%= render 'layouts/navbar2' %>
  </div>
  <div class="span8">
  	<h1 id="ウェブ解析の基本指標"><a name="ウェブ解析の基本指標" href="#ウェブ解析の基本指標"></a>ウェブ解析の基本指標</h1>

  	<hr class="page">

	<h5>■ユニークユーザー（UU）、セッション、ページビュー（PV）</h5>
	<p></p>


	<hr>
	<h5>■サイトKPI</h5>
	<p></p>


	<hr>
	<h5>■コンバージョン（率）</h5>
	<p></p>

	<hr>
	<h5>■直帰率、離脱率</h5>
	<p></p>

	<hr>
	<h5>■サイトパフォーマンス</h5>
	<p></p>
  </div>