  <div class="span4">
    <%= render 'layouts/navbar' %>
  </div>
  <div class="span8">
  	<h1 id="営業スキーム"><a name="営業スキーム" href="#営業スキーム"></a>営業スキーム</h1>

  	<hr class="page">

  	<p></p>

  </div>
