  <div class="span4">
    <%= render 'layouts/navbar' %>
  </div>
  <div class="span8">
  	<h1 id=" WEB制作の仕事について"><a name=" WEB制作の仕事について" href="# WEB制作の仕事について"></a> WEB制作の仕事について</h1>

  	<hr class="page">


  </div>
