  <div class="span4">
    <%= render 'layouts/navbar' %>
  </div>
  <div class="span8">
  	<h1 id="プログラミングとは"><a name="プログラミングとは" href="#プログラミングとは"></a>プログラミングとは</h1><hr class="page"><p>プログラミングとは、<strong>データ</strong>を<strong>操作</strong>することです。<br>Webサービスが作れるようになるためには、<strong>データを操作</strong>できるようになる必要があります。<br>そして、データを操作するためにはおおまかに下記4つの工程に分けることができます。</p><p><%= image_tag"1_3_001.gif", :alt => "プログラミングとは" %></p><p>この4つの方法を覚えることが、「プログラミングができる」「Webサービスをつくれる」ことの第一歩になります。</p><h4 id="googleを例にすると"><a name="googleを例にすると" href="#googleを例にすると"></a>Googleを例にすると</h4><hr class="section"><ol>
<li>【 入力 】<br> ユーザーが検索窓に<br> キーワードを入力して「検索」ボタンを押す</li>
<li>【 処理 】<br> 入力された内容を<br> データ保存されているサイトの中から<br> 検索条件にあったサイトを探し出す</li>
<li>【 保存 】<br> 検索されたキーワード情報を保存する<br> （検索回数など順位付けなどに使うため）</li>
<li>【 出力 】<br> 該当のキーワードにあったサイトを<br> データベースから取り出し、<br> 検索結果画面に表示する</li>
</ol><hr class="section"><p>この4つの方法を把握して<br>処理方法の「書き方」を必要なときに調べることができれば<br>プログラミングを書くことができるようになります。</p><p>プログラミング言語の違いは<br>書き方の違いなので、流れを理解できれば<br>どんな言語でも扱えるようになります。</p>
  </div>
  