  <div class="span4">
    <%= render 'layouts/navbar' %>
  </div>
  <div class="span8">
  	<h1 id="コンサルフレームワーク"><a name="コンサルフレームワーク" href="#コンサルフレームワーク"></a>コンサルフレームワーク</h1><hr class="page"><p>Webサービスを動かすためのコンピューターを「サーバー」といいます。</p><p>Webサービスを作って動かすためには<br>サーバーが必要でサーバーは下記の要素で構成されています。</p><hr class="section"><ul>
<li>OS（オペレーティングシステム）</li>
<li>DB（データベース）</li>
<li>Webサーバー</li>
<li>フレームワーク</li>
<li>Webアプリケーション</li>
<li>UI（ユーザーインターフェース）</li>
</ul><hr class="section"><p><%= image_tag"1_3_003.gif", :alt => "Webサービスをつくるために" %></p>
  </div>
