  <div class="span4">
    <%= render 'layouts/navbar' %>
  </div>
  <div class="span8">
  	<h1 id="コーディング"><a name="コーディング" href="#コーディング"></a>コーディング</h1>

  	<hr class="page">

  	<p></p>


  </div>
