  <div class="span4">
    <%= render 'layouts/navbar' %>
  </div>
  <div class="span8">
  	<h1 id="マーケティング実践（広告運用・解析レポート）"><a name="マーケティング実践（広告運用・解析レポート）" href="#マーケティング実践（広告運用・解析レポート）"></a>マーケティング実践（広告運用・解析レポート）</h1>

  	<hr class="page">

  	<p></p>
  </div>
