  <div class="span4">
    <%= render 'layouts/navbar' %>
  </div>
  <div class="span8">
  	<h1 id="データベース"><a name="データベース" href="#データベース"></a>データベース</h1><hr class="page"><p>データを保存しておく場所を<strong>データベース</strong>といいます。<br>Webサービスで利用するデータは全て<br><strong>データベース</strong>に保存されています。<br>データベースは情報の格納に大きく4つの機能を備えています。</p><ul>
<li>CREATE <em>追加する</em></li>
<li>READ <em>取得する</em></li>
<li>UPDATE <em>更新する</em></li>
<li>DELETE <em>削除する</em></li>
</ul><p>この頭文字をあわせて<strong>CRUD（クラッド）</strong>と呼ばれる操作が<br>データベースの基本となります。</p><ol>
<li>データベースにデータを【 新規追加 】する</li>
<li>そのデータを【 取得 】（書き出す）する</li>
<li>そのデータを変更し【 更新 】（上書き登録）する</li>
<li>そのデータを【 削除 】する</li>
</ol><p><%= image_tag"1_3_002.gif", :alt => "Webサービスを作るために" %></p><p>データベースへのアクセスについては<br>以下の3ステップで接続します。</p><ol>
<li>接続</li>
<li>使用</li>
<li>切断</li>
</ol><p>データを操作するということが理解できれば<br>プログラミングへの理解が深まります。</p>
  </div>
