  <div class="span4">
    <%= render 'layouts/navbar' %>
  </div>
  <div class="span8">
  	<h1 id="mind"><a name="mind" href="#mind"></a>Mind</h1><hr class="page"><p>このセクションでは、実際にプログラムを組んでいく前に、<br><strong>プログラミングとは何か</strong>や<strong>Webサービス</strong>を作るための基礎知識を学びます。<br>特に、データベースのCRUD操作の概念はこれからWebアプリケーション開発を<br>していく上でよくでてくるので、意識しておきましょう。</p>
  </div>
