  <div class="span4">
    <%= render 'layouts/navbar2' %>
  </div>
  <div class="span8">
  	<h1 id="問題解答・重要語句"><a name="解答・重要語句" href="#解答・重要語句"></a>解答・重要語句</h1>

  	<hr class="page">

  	<h5>問題解答</h5>
  	<p>
	<b>・ウェブ解析はどんな手法？</b><br>
	※文章穴埋め<br>
	<b>・どんなツールを使えば良いのか？</b><br><br>

	<b>・CVRとは？</b><br><br>

	<b>・コンバージョン率の計算方法は？</b><br>
	⇒コンバージョン÷アクセス数=コンバージョン率<br><br>

	<b>・KPIとは？</b><br><br>

	<b>・離脱と直帰の違いは？</b><br><br>

	<b>・PVとセッションとUUの違いは？</b><br><br>

	<b>・PV？セッション？UUになる？</b>
  	</p>

  	<hr>
  	<h5>重要語句</h5>
  	<dl>
  		<dt>テスト</dt><dd>こういうこと</dd>
  		<dt>テスト</dt><dd>こういうこと</dd>
  		<dt>テスト</dt><dd>こういうこと</dd>
  	</dl>
  </div>