  <div class="span4">
    <%= render 'layouts/navbar2' %>
  </div>
  <div class="span8">
  	<h1 id="railstutorial"><a name="railstutorial" href="#railstutorial"></a>railstutorial</h1><hr class="page"><p>最後に、世界的に有名なRuby on Railsの入門書、<a href="http://railstutorial.jp/">railstutorial</a> を使って第二章の総まとめをします。<br>侍カリキュラムの基礎を終えている方は、環境構築部分は既に済んでいますので、railstutorialの<a href="http://railstutorial.jp/chapters/beginning?version=4.0#sec-the_first_application">1.2.3 最初のアプリケーション</a>から始めてください。<br>gitやGithub、herokuについても初期設定の仕方から説明されていますが、これも既に終えられていますので、少し難しいかもしれませんが、初期設定部分のコマンドはトバし、必要なコマンドのみを理解して叩いてあげてください。</p><p>それ以前の内容も役に立つ知識が詰まってますので、読んでおくことをおすすめします。</p><p>基本的な進め方はrailtutorialの説明に沿っていきますが、railstutorialには<strong>テスト駆動開発</strong>という概念の学習も含まれており、入門時に理解するには少し重たい内容になるかもしれません。<br>ですので、テスト駆動開発の部分については100%理解しなくても、言ってしまえば10%の理解でも、コピー＆ペーストでもなんでもいいのでこなす形で進めてください。<br>このrailstutorialは何人ものRubyistたちが入門や復習を兼ねて何度も反復し、その過程でいろいろな気付きを得ていけるような内容になっていますので、一度ですべてを理解しようとする必要はありません。</p><p>以上のことを念頭に置き、railstutorialを進めていきましょう。</p
  </div>