  <div class="span4">
    <%= render 'layouts/navbar2' %>
  </div>
  <div class="span8">
  	<h1 id="ウェブ解析の重要性"><a name="ウェブ解析の重要性" href="#ウェブ解析の重要性"></a>ウェブ解析の重要性</h1>

  	<hr class="page">

  	<p>
	なぜウェブ解析をするのか？<br>
	マーケティング手法の中に「PDCAサイクル」というものがあります。<br>
	P＝PLAN（計画）：目標を設定し、そのために何をするのか仮説を立て、プランニングします。<br>
	D＝DO（実行）：PLANを実行していきます。<br>
	C＝CHECK（評価）：PLANで立てた目標を達成できたか？上手くDO出来ているかを評価します。<br>
	A＝ACTION（改善）：CHECKを基に改善点を見つけ出し、改善方法を考え、対処していきます。</p>

	<p><%= image_tag"2_3_01.jpg", :alt => "PDCAサイクル" %></p>

	<p>商品を売るため・ブランディングのためのウェブサイトを作りました。<br>
	もし、ウェブ解析を行わない場合、WEBサイトのPDCAサイクルは<br>
	「PLAN＆DO」で止まってしまいます。<br><br>

	ウェブ解析は「CHECK＆ACTION」の部分になります。<br>
	これを定期的に回すことで、WEBサイトが更に良いものになり、<br>
	サービスや商品が売れ、実際に「成果」が出るようになります。</p>

	<p><%= image_tag"2_3_02.jpg", :alt => "WEBにおけるPDCAサイクル" %></p>

  	<!--p>ドットインストールの<a href="http://dotinstall.com/lessons/basic_rails_v2">Ruby on Rails4入門</a>を使ってRuby on Railsの基礎を習得します。<br>開発環境については、ドットインストール内ではVagrantという開発環境を構築して進めていますが、ここではMacのローカル環境 (Unixコマンド基礎やRuby基礎と同じ) を使用します。</p><p>Railsは協力なフレームワークのため、自動で結構な数のファイルを生成します。<br>ですが、このすべてを入門の段階で使うかというと、そうではありません。<br>むしろいじるファイルはこの中の10 ~ 20程度です。<br>その中のほとんどは、これまでに学習してきたHTML,CSS,Rubyのコードからなっているため、復習しながらかみ砕いていけば何をしているコードなのかはだいたい理解することができます。<br>その中で多少はわからない文があったり、Rails風に記述されたRubyのコードがあったりしますが、深くは考えず、こう書けばこれができるんだな。くらいでサクサク進んでいってください。<br>ひとつのことで悩んで時間を費やすより、ガリガリコードを書いて反復し、身体にすり込ませたましょう。</p-->
  </div>