  <div class="span4">
    <%= render 'layouts/navbar2' %>
  </div>
  <div class="span8">
  	<h1 id="ウェブ解析の基本指標"><a name="ウェブ解析の基本指標" href="#ウェブ解析の基本指標"></a>ウェブ解析の基本指標</h1>

  	<hr class="page">

	<h4>■ユニークユーザー（UU）、セッション、ページビュー（PV）</h4>
	<p>WEBサイトのアクセスを表す指標に以下の3つがあります。<br>
	この3つは、全てサイトのアクセス数を表しますが、<br>
	意味が異なりますので、確実に覚えましょう。</p>

	<hr class="underscore">
	<h5>《ユニークユーザー（UU）》</h5>
	<p>WEBサイトを訪れた人（ユーザー）を表します。<br>
	同一サイト内のページを同じ人が何度も訪問した場合も、<br>
	1ユーザーとしてカウントされます。<br>
	そのため、UU数が多いサイトは単純に訪れた人数が多いと言えます。<br><br>

	しかし、人数と言っても、<br>
	・1人がPCとスマホの2台からアクセスした場合<br>
	・1台のPCで2つのブラウザからアクセスした場合<br>
	などは2UUとしてカウントされます。<br><br>

	その点を考慮しながら、アクセス解析を行いましょう。</p>

	<hr class="underscore">
	<h5>《ページビュー（PV）》</h5>
	<p>WEBサイト内のページ閲覧回数。<br>
	1ページ開かれるごとに1カウントされます。<br>
	WEBサイトがどのくらい閲覧されているかを測るための、<br>
	最も一般的な指標になります。<br>
	基本的には「PV数」と書かれている場合が多いです。<br><br>

	例えば、あなたがYahoo!のページを訪れた場合、<br>
	『TOPページのみを見た場合』・・・1PV<br>
	『TOPページから検索した場合』・・・2PV<br>
	『検索して2ページ目を見た場合』・・・3PV<br>
	『3ページ目も・・・』・・・4PV〜<br>
	というように、同一サイト内のページを開くごとにカウントされていきます。<br><br>

	アクセス数を表す指標の中で一番大きな値になるため、<br>
	「50万PV達成！」などとよくキャッチコピーに使われたり、<br>
	PV数から広告のインプレッション数予測を立てたりします。</p>

	<hr class="underscore">
	<h5>《セッション》</h5>
	<p>セッション数はUUとPVの間のもので、期間内の訪問回数を表します。<br>
	Google Analyticsの場合は「30分」が基準となり、<br>
	30分以内に同一サイトの別ページへ飛んだら「1セッション」<br>
	30分以後に別ページへ飛んだら「2セッション」になります。<br><br>

	例えば、あなたがあるブログページを訪れた場合、<br>
	『SNSからある記事を訪れた』・・・1UU、1セッション、1PV<br>
	『30分以内に関連記事に飛んだ』・・・1UU、1セッション、2PV<br>
	『1時間後にもう一度記事を見た』・・・1UU、2セッション、3PV<br>
	『すぐにカテゴリページに飛んだ』・・・1UU、2セッション、4PV<br>
	このようになります。<br><br>

	もし、1日のUU数とセッション数に差がある場合は、<br>
	同じユーザーが時間をあけて何度も訪れたことになり、<br>
	このユーザーはサイトに「興味・関心」のあるユーザーだと言えます。</p>

	<hr class="underscore">
	<h5>《UU、セッション、PVの比較》</h5>
	<p>UU数・セッション数・PV数と混同しやすいですが、<br>
	UUはWEBサイトを訪れた「人」の数。<br>
	セッションはユーザーの訪問回数（30分以内は1カウント）。<br>
	PVはページの表示回数になります。<br><br>

	なので、100人のユーザーがサイトを閲覧した際、<br>
	最低100ページは開かれるため、『UU数≦セッション数≦PV数』になります。<br><br>

	また、UU数とPV数の差が小さい場合は、<br>
	1ユーザーあたり開かれたページが少ないことになります。<br>
	1人が見たページ数が少ないので、このサイトは「質の低いサイト」と言えます。<br><br>

	逆にUU数とPV数の差が大きい場合は、<br>
	1ユーザーが多くのページを閲覧したことになるので、<br>
	このサイトは「質の高いサイト」と言えるでしょう。</p>


	<hr>
	<h4>■コンバージョン</h4>
	<h5>《コンバージョン》</h5>
	<p>コンバージョンとは、<br>
	『WEBサイト上で獲得できる最終的な成果』のことを表します。<br><br>

	また、アナリティクスでは以下のように表されています。<br>
	『ビジネスの成功にとって重要なサイト上での操作や行為が完了することです。』<br>

	『最終的な成果』はサイトの目的によって変わりますが、<br>
	サイトの「目標」を「達成」できたら「コンバージョン」になります。<br><br>

	例えば、AmazonなどのECサイトは、<br>
	『商品を購入してもらう』とコンバージョンになります。<br>
	住宅販売のサイトなどは、<br>
	『問い合わせしてもらう』とコンバージョンになったりします。<br>
	また、よく無料のWEBサービスなどは、<br>
	『会員登録・メルマガ登録をしてもらう』ことをコンバージョンとし、<br>
	その後のバックエンド商品への誘導や広告収入を狙ったりします。<br><br>

	コンバージョンに関して着目すべきて点は、<br>
	1.コンバージョンの「件数」<br>
	2.コンバージョンの「割合」<br>
	3.1コンバージョンあたりの「コスト」<br>
	以上の3点になります。<br><br>

	なお、コンバージョンに関しては、<br>
	2-6.ランディングページ<br>
	2-7.コンテンツマーケティング<br>
	2-8.顧客成長モデル<br>
	にて具体的な手法を説明します。</p>

	<hr class="underscore">
	<h5>《コンバージョン率（CVR）》</h5>
	<p>コンバージョン率（CVR）は、WEBサイトのアクセス数（=PV数）<br>
	またはUU数のうち、何割がコンバージョンに至るかを表す指標です。<br>

	コンバージョン率は、<br>
	『コンバージョン件数 ÷ アクセス数 = コンバージョン率』<br>
	という式で算出されます。<br><br>

	例えば、【「アクセス数：100000件」「コンバージョン：250件」】の場合<br>
	『コンバージョン500件 ÷ アクセス100000件 = CVR0.5%』<br>
	よって、1000人に5人がコンバージョンしたことになります。<br><br>

	コンバージョン率が使用されるシーンは主に2つあります。<br><br>

	1.広告など有料の集客施策を行う際に「費用対効果」を比較する場合<br>
	例えば、同じコストにて同じアクセスを広告で獲得した際、<br>
	コンバージョン件数が異なる場合にコンバージョン率を比較します。<br>
	⇒この場合、コンバージョン率が高い広告が効率がよいと言えます。<br><br>

	2.WEBサイトの販売能力（＝サイトパフォーマンス）を考える場合<br>
	例えば、毎月20万PVの時計販売サイトにおいて、<br>
	PV数がほぼ変わらない状態でCVRが1%⇒2%になるのは大きく違います。<br>
	営業マンが月に同じだけの仕事をして売上が異なるように、<br>
	WEBサイトもサイトの能力によって売上が変わってきます。<br>
	その能力を把握するためにも、コンバージョン率は重要な指標となります。<br><br>

	なお、コンバージョン率は一般的に2〜3％とも言われています。<br>
	とはいえ、サイトの目標レベルや業界によってCVRは変動するので、<br>
	参考程度に覚えておきましょう。<br><br>

	また業界別の平均CVRはコチラの記事を参照しましょう。<br>
	<a href="http://blog.kairosmarketing.net/inbound/conversion-average-140320/">http://blog.kairosmarketing.net/inbound/conversion-average-140320/</a></p>

	<hr class="underscore">
	<h5>コンバージョンコスト（CPA）</h5>
	<p>
	コンバージョンを1件獲得するためにかかるコストを『CPA』と言います。<br>
	CPAはCost per Acquisitionの略で、「顧客獲得単価」といいます。<br><br>

	インターネット上でビジネスを行う際は、<br>
	自社サイトに見込み客のアクセスを集める必要があります。<br>
	集客するためには、広告やSEOなどの施策が必要となり、<br>
	そのためのランニングコストが発生します。<br><br>

	コストがかかる施策のうち、<br>
	「どの方法が効率よく利益に繋がっているのか？」<br>
	「利益に繋がっていないのか？」<br>
	を見極めるために必要な指標が『CPA』です。<br><br>

	CPAは、<br>
	『集客にかかったコスト ÷ コンバージョン件数 = CPA』<br>
	という式で算出されます。<br><br>

	例えば、【「月間集客費用：100000円」「申し込み件数：20件」】の場合<br>
	『コスト100000円 ÷ コンバージョン20件 = CPA5000円』<br>
	よって、1人をコンバージョンするためにかかった費用は5000円になります。<br><br>

	CPAを正確に把握していない企業は、<br>
	『商品の単価 ＜ CPA』という場合もあります。これでは赤字ですね。<br>
	有料の集客施策を行った際は、かならずCPAを算出して、<br>
	費用対効果が良い施策を選択したり、<br>
	獲得コストの目安を見極めたりできるようにしましょう。</p>

	<hr>
	<h4>■直帰率、離脱率</h4>
	<h5></h5>
	<p></p>

	<hr>
	<h4>■サイトパフォーマンス</h4>
	<h5></h5>
	<p></p>

	<hr>
	<h4>■サイトKPI</h4>
	<h5></h5>
	<p></p>

  </div>