  <div class="span4">
    <%= render 'layouts/navbar2' %>
  </div>
  <div class="span8">
  	<h1 id="Google_Analytics"><a name="Google_Analytics" href="#Google_Analytics"></a>Google Analytics</h1>

  	<hr class="page">

  	<p>
	ウェブ解析を行う際に、<br>
	「Google Analytics」というGoogle社が開発した無料ツールを使用して、<br>
	HPにおける様々なデータを取得して解析します。<br><br>

	Google Analyticsを使うことにより、<br>
	・どのページへのアクセスが多いのか？<br>
	・どのページの滞在時間が多いのか？<br>
	・どんな検索キーワードから流入しているのか？<br>
	・PCからのアクセスが多いのか？スマホからのアクセスが多いのか？<br>
	などなど、確認することが出来ます。<br><br>

	これらを確認することで、<br>
	「現状の問題点」や「強み」を理解することができ、<br>
	改善を重ねてPDCAサイクルを回したり、<br>
	強みから新しいアイデアや施策を行うことが可能です。<br><br>

	利用方法は簡単ですので、<br>
	まずはGoogle Analyticsの導入（登録）を始めましょう。<br>

	<hr>

	<h4>Google Analyticsの導入方法</h4>

	<p>①<a href="http://www.google.com/intl/ja_jp/analytics/" target="_blank">http://www.google.com/intl/ja_jp/analytics/</a>にて「アカウント作成」を行う<br>
	※Googleアカウントが必要となります。<br><br>
	②アカウント登録画面にて必要な項目を入力<br>
	※ウェブサイトが必要になります。<br><br>
	③利用規約が表示されるので、「同意する」をクリック<br><br>
	④登録完了後、Google <br>Analyticsの管理画面を開き、表示された「トラッキングコード」をコピー<br><br>
	⑤コピーした「トラッキングコード」をアクセス解析したいページのコードにペーストします。<br>
	※《head》～《/head》の中に記述することが推奨されています。<br><br>

	参考サイト：<a href="http://viral-community.com/wordpress/google-analytics-setting-864/" target="_blank">http://viral-community.com/wordpress/google-analytics-setting-864/</a>
	</p>

  	<!--p>さて、いよいよWebアプリケーションを開発するためのフレームワーク、Ruby on Railsについての学習に入っていきます。</p><p>ここで意識しておきたい点としては、 <strong>Rails</strong> というのはRubyとはまったくの別物ということです。<br>たしかに、Rubyでできていることには違いありませんが、使う上での定義はまったく異なります。<br>Rubyはあくまでプログラミング言語、それだけではただの文字の集まりに過ぎません。<br>一方Railsは、それだけでWebアプリケーションを制作するために便利な機能がたくさん詰まった道具箱です。<br>例えば制作中のWebアプリケーションに「User認証機能を実装したい」などといった作り手のニーズにRailsは、快く自分の持つ機能を提供し、機能のほとんどをコードを書くことなく実装してくれます。</p><p>なので、Rubyという枠は取っ払って、<strong>Rails</strong> としての使い方を理解するようここでは意識していってください。</p><p>このセクションでは、ミニツイッターアプリケーション</strong>の制作を行いながら、実践形式でRailsの学習を進めていきます。<br>
  	これをプログラミング基礎編の最後の課題とし、終えるころにはプログラミングの基礎はもちろん、WebアプリケーションひいてはWebサービスがどのように出来上がっていくのかといった過程を学びつつ、実際に人に使ってもらえるアプリケーションをひとつ作り上げることができます。</p-->
  </div>