  <div class="span4">
    <%= render 'layouts/navbar2' %>
  </div>
  <div class="span8">
  	<h1 id="mind"><a name="mind" href="#mind"></a>Mind</h1>

  	<hr class="page">

  	<p>
	ウェブ解析とは、WEBマーケティングの根っこになるスキルで、<br>
	WEBマーケティングを適切に進行するための舵取りになります。<br><br>

	主に、アクセス解析ツールを使用しながら、<br>
	様々なアクセスデータを確認して、<br>
	現状の問題点や強みを分析します。<br><br>

	分析後、問題を改善するための施策を策定し、実行に移したり、<br>
	良い部分を更に強化し、新たなアイデアを生み出します。<br><br>

	ウェブ解析が出来るようになることで、<br>
	目先のスキルではなく、<br>
	マーケティングとしての実務＝「成果」を出せるようになります。<br><br>

	また、実際に「ウェブ解析士」という資格も存在し、<br>
	ウェブ解析の重要性が高まっています。<br>
	<a href="http://www.web-mining.jp/" target="_blank">http://www.web-mining.jp/</a><br><br>

	このセクションでは、<br>
	ウェブ解析の重要性について学び、<br>
	実際に使用するツール・サービスを導入し、<br>
	どのような観点で解析を行っていくのかを学習していただきます。<br><br>

	■意識しておきたいポイント<br>
	・PDCAサイクルをまわし、適切なWEBマーケティング手法を使って改善をする<br>
	・Google Analyticsを使えるようになる<br>
	・ウェブ解析に必要な指標を理解し、実際にどのような数値が理想なのか把握する<br><br>

	それでは、ウェブ解析について学習していきましょう。<br>
	</p>
  	<!--p>さて、いよいよWebアプリケーションを開発するためのフレームワーク、Ruby on Railsについての学習に入っていきます。</p><p>ここで意識しておきたい点としては、 <strong>Rails</strong> というのはRubyとはまったくの別物ということです。<br>たしかに、Rubyでできていることには違いありませんが、使う上での定義はまったく異なります。<br>Rubyはあくまでプログラミング言語、それだけではただの文字の集まりに過ぎません。<br>一方Railsは、それだけでWebアプリケーションを制作するために便利な機能がたくさん詰まった道具箱です。<br>例えば制作中のWebアプリケーションに「User認証機能を実装したい」などといった作り手のニーズにRailsは、快く自分の持つ機能を提供し、機能のほとんどをコードを書くことなく実装してくれます。</p><p>なので、Rubyという枠は取っ払って、<strong>Rails</strong> としての使い方を理解するようここでは意識していってください。</p><p>このセクションでは、ミニツイッターアプリケーション</strong>の制作を行いながら、実践形式でRailsの学習を進めていきます。<br>
  	これをプログラミング基礎編の最後の課題とし、終えるころにはプログラミングの基礎はもちろん、WebアプリケーションひいてはWebサービスがどのように出来上がっていくのかといった過程を学びつつ、実際に人に使ってもらえるアプリケーションをひとつ作り上げることができます。</p-->
  </div>