  <div class="span4">
    <%= render 'layouts/navbar3' %>
  </div>
  <div class="span8">
  	<h1 id="実装する機能"><a name="実装する機能" href="#実装する機能"></a>実装する機能</h1><hr class="page"><p>今回は、Rails Tutorialにて作成したサンプルに以下の機能を追加します。</p><p>・新しい投稿に『new』を表示させる<br>・画像アップロード機能<br>・投稿時にメールを送信するように設定<br>・お問い合わせフォームの設置</p><p>以上の4つになります。</p><p>基本的に、コピー＆ペーストを進めていくと形になりますが、<br>より理解を深めるために、始めはググったりしながら進めてみましょう。</p><p>それでは、機能の実装に入っていきましょう。</p>
  </div>