  <div class="span4">
    <%= render 'layouts/navbar3' %>
  </div>
  <div class="span8">
  	<h1 id="mind"><a name="mind" href="#mind"></a>Mind</h1><hr class="page"><p><a href="http://railstutorial.jp/">Rails Turtorial</a>にて作成したサンプルを使い、<br>新たな機能をいくつか実装していきましょう。</p><p>これは、Webアプリケーションを自分で開発していくための練習です。<br>ひとつのWebアプリケーションも、サンプルでこなしてきた通りひとつひとつの機能を定義して実装していきます。<br>このひとつひとつの機能を定義して実装する部分を今あるサンプルに機能を追加する形で練習していきます。</p><p>基本的な進め方としては、<br>説明に沿ってコードを記述したり、コマンドを入力して、<br>実際に機能が実装されたかテスト＆デバック（エラーの除去）を行っていきます。</p><p>Rails Turtorialの内容が終了していれば、<br>ある程度の構造やメソッドも理解できたと思いますので、<br>ただコピペするだけではなく、「何の動作を行っているか？」を考えながら進めましょう。</p><p>実際にWebサービスを作っていく際によく使われる機能になるので、<br>コードを挿入した後も、自分でいじったりしながら、<br>理解を深めていきましょう。</p>
  </div>