  <div class="span4">
    <%= render 'layouts/navbar3' %>
  </div>
  <div class="span8">
  	<h1 id="コンセプトの作り方"><a name="コンセプトの作り方" href="#コンセプトの作り方"></a>コンセプトの作り方</h1>

  	<hr class="page">

  	<p>今回、コンセプトを作る上で、<br>
	商品に対してこの3つを用意してあげましょう。<br><br>

	『どんなひとに？（ターゲット）』<br>
	『どんな約束をしますか？（ベネフィット）』<br>
	『その根拠は？（なぜ、どのように）』<br><br>

	この3つがあれば、基本的にお客さんに響く商品になります。<br>
	例えば、こんな例があります。<br><br>

	例：ヘルシア緑茶<br>
	【どんなひとに】<br>
	中年太りを気にする男性<br>
	【どんな約束をしますか】<br>
	体脂肪への効果<br>
	【その根拠は】<br>
	 特別な成分（厚生労働省が認可している）<br><br>

	例：ウィダーinゼリー<br>
	【どんなひとに】<br>
	若いビジネスマンに<br>
	【どんな約束をしますか】<br>
	時間のないときに栄養補給できる<br>
	【その根拠は】<br>
	手軽だから<br><br>

	すごく簡単なことなんですが、<br>
	これだけシンプルだからこそ、そのターゲット層に対して<br>
	適切なアプローチができます。<br><br>

	それでは、以下のワークシートをダウンロードして、<br>
	実際に商品のコンセプトを作ってみましょう。<br><br>

	※ワークシートダウンロード</p>
  </div>