  <div class="span4">
    <%= render 'layouts/navbar5' %>
  </div>
  <div class="span8">
  	<h1 id="mind"><a name="mind" href="#mind"></a>Mind</h1>

  	<hr class="page">

  	<h4>なぜLPを作るのか？</h4>
  	<p>LPは自らの商品・サービスを「売れる」ようにする要素が数多く含まれています。<br>
	実際に、「ネットで売上を上げるための最重要要素」と言われることもあります。<br><br>

	人々の購買意欲高めるための方法や、<br>
	コンバージョンを意識した構成を学ぶことで、<br>
	実際に売上を数倍もあげることが出来ます。<br><br>

	また、WEBデザインの観点からも、<br>
	1ページに様々なデザイン要素が必要となり、<br>
	これから学ぶ人にとって、一番良い教材になります。<br><br>


	魅力のあるLPを自分で作れるということは、<br>
	デザイン・コピーライティング・コンバージョン設定など、<br>
	多くの要素で長けていると言えるでしょう。<br><br>

	そして、自分の商品やサービスが簡単に売れるようになります。<br><br>

	LPを作るということはそれくらい重要な要素であり、<br>
	企業によっては1枚のLPを制作するために<br>
	『20万円〜50万円』かけることもあります。<br><br>

	そのため、WEBマーケティングを身につける上でも、<br>
	WEBデザインを学ぶ上でも、LPを自分で作れるようになると良いでしょう。<br><br>

	まずは魅力あるLPを作るために必要な要素を学び、<br>
	実際に構成を考えていきましょう。</p>
  </div>