  <div class="span4">
    <%= render 'layouts/navbar5' %>
  </div>
  <div class="span8">
  	<h1 id="mind"><a name="mind" href="#mind"></a>Mind</h1><hr class="page"><p>ドットインストールやRuby on Rails Tutorialで制作したWEBアプリケーションのサンプルやご自身のWebサービス開発で実際に学んだ経験を活かして仕事を獲得して頂きます。<br>はじめは不安や疑問が多々あるかと思いますが、 まずは一歩を踏み出しましょう。<br>今までの例で挙げると、『フリーランスになって3ヶ月で3つの案件を抱え、月収30万円』『作ったサンプルとフィーリングでWEB案件にて即採用された』実際に動いた人は成果が出ています。<br>特に今までIT業界やWEB関係を仕事としてなかった方はかなり不安があると思います。<br>しかし、現段階でのスキルよりも「学ぶ姿勢」が今後仕事をしていく上で大切になります。<br>今は自分自身に自信を持ち、いくつか仕事にトライしてみて、更に学びましょう。</p><p>そしてこの章では、どうすれば仕事が獲得できるかのいくつかの例やメソッドをご紹介します。</p>
  </div>