  <div class="span4">
    <%= render 'layouts/navbar4' %>
  </div>
  <div class="span8">
  	<h1 id="トップページの画面設計"><a name="トップページの画面設計" href="#トップページの画面設計"></a>トップページの画面設計</h1><hr class="page"><p>簡易ブログシステムを例にトップページの画面設計を行ってみます。</p><p>まず最初に機能一覧をページごとに振り分けていきます。<br>まずWebサイトには<strong>【トップページ】</strong>が必要となります。<br><strong>【トップページ】</strong>へ必要な機能を機能一覧の中から抜き出してみましょう。</p><h3 id="機能一覧確認"><a name="機能一覧確認" href="#機能一覧確認"></a>機能一覧確認</h3><p>簡易ブログシステムブログ機能の機能一覧をみてみます。</p><ul>
<li>新規記事登録機能</li>
<li>ブログ一覧表示機能</li>
<li>詳細記事表示機能</li>
<li>編集機能</li>
<li>削除機能</li>
<li>コメント登録機能</li>
<li>コメント編集機能</li>
<li>コメント削除機能</li>
</ul><h3 id="トップページの機能振り分け"><a name="トップページの機能振り分け" href="#トップページの機能振り分け"></a>トップページの機能振り分け</h3><p>Webページは大まかに分けると<strong>【機能】</strong>と<strong>【リンク】</strong>で構成されています。  </p><p>トップページには<strong>【ブログ一覧表示機能】</strong>が必要です。  </p><hr class="section"><p>トップページ【機能】</p><ul>
<li>ブログ一覧表示機能</li>
</ul><hr class="section"><h3 id="トップページからのリンク振り分け"><a name="トップページからのリンク振り分け" href="#トップページからのリンク振り分け"></a>トップページからのリンク振り分け</h3><p>その他の機能はトップページには必要ありませんが<br>それぞれの機能への<strong>【リンク】</strong>が必要です。<br>使用する機能への<strong>【リンク】</strong>を書き出してみましょう。</p><hr class="section"><p>トップページ【リンク】</p><ul>
<li>詳細記事表示機能へのリンク</li>
<li>新規記事登録機能へのリンク</li>
<li>編集機能へのリンク</li>
<li>削除機能へのリンク</li>
</ul><hr class="section"><p>4つの機能へのリンクが必要になります。</p><h3 id="トップページの構成をまとめる。"><a name="トップページの構成をまとめる。" href="#トップページの構成をまとめる。"></a>トップページの構成をまとめる。</h3><p>トップページへ振り分けた機能とリンクを1つのグループとすればトップページの構成が固まります。<br>【ページ1】として構成をまとめます。</p><h4 id="トップページ【ページ1】"><a name="トップページ【ページ1】" href="#トップページ【ページ1】"></a>トップページ【ページ1】</h4><hr class="section"><h5 id="機能"><a name="機能" href="#機能"></a>機能</h5><ul>
<li>ブログ一覧表示機能</li>
</ul><h5 id="リンク"><a name="リンク" href="#リンク"></a>リンク</h5><ul>
<li>詳細記事表示機能へのリンク</li>
<li>新規記事登録機能へのリンク</li>
<li>編集機能へのリンク</li>
<li>削除機能へのリンク</li>
</ul><hr class="section"><p>上記の流れを参考に企画したWebサービスのトップページの構成をまとめてみましょう。まとめ終わったら次セクションで、トップページ以外の構成をまとめていきます。</p><hr class="section">
  </div>