  <div class="span4">
    <%= render 'layouts/navbar4' %>
  </div>
  <div class="span8">
  	<h1 id="mind"><a name="mind" href="#mind"></a>Mind</h1><hr class="page"><p>このセクションでは、Webサービスの画面設計を行っていきます。</p><p>まず作りたいWebサービスのページごとの構成をまとめて最終的に画面遷移図を作成します。機能一覧表、モックアップ、画面遷移図を作るとWebサービスの全体がイメージできるようになり、必要な機能や構成もより明確になります。</p><p>この工程で、機能一覧リストアップ時にもれていた機能などに気がつくこともあると思いますので、その時は適宜機能一覧へと追加していきましょう。</p><p>このセクションで意識しておきたいポイント</p><ul>
<li>Webサービス全体の流れを意識する</li>
<li>機能・リンクをもれなく振り分けてページ構成を考える</li>
<li>もれていた機能は機能一覧表へ適宜追記し連動をとっていく</li>
</ul><p>それでは実際に画面設計を行っていきましょう。</p>
  </div>