  <div class="span4">
    <%= render 'layouts/navbar4' %>
  </div>
  <div class="span8">
  	<h1 id="モックアップの作成"><a name="モックアップの作成" href="#モックアップの作成"></a>モックアップの作成</h1><hr class="page"><p>ページ構成を元にモックアップ（外観デザインの試作）を作成します。<br>モックアップは機能やメニュー領域、画像の配置位置などのレイアウトを記載したものになります。</p><p>簡易ブログシステムを例にすると下記3ページですので順に作成していきます。</p><hr class="section"><ul>
<li>【ページ1】トップページ（ブログ一覧表示）</li>
<li>【ページ2】詳細記事表示</li>
<li>【ページ3】新規記事登録・編集</li>
</ul><hr class="section"><p>まず<strong>トップページ【ページ1】</strong>を作ってみましょう。</p><hr class="section"><h4 id="【ページ1】トップページ"><a name="【ページ1】トップページ" href="#【ページ1】トップページ"></a>【ページ1】トップページ</h4><h5 id="機能"><a name="機能" href="#機能"></a>機能</h5><ul>
<li>ブログ一覧表示機能</li>
</ul><h5 id="リンク"><a name="リンク" href="#リンク"></a>リンク</h5><ul>
<li>詳細記事表示機能へのリンク</li>
<li>新規記事登録機能へのリンク</li>
<li>編集機能へのリンク</li>
<li>削除機能へのリンク</li>
</ul><hr class="section"><p>上記の要素を元にモックアップを作成していきます。</p><p>Webサイトの構成を考えて、サイトロゴやメニューの位置を決めてその要素を画面に配置していきます。</p><p>自身で開発する場合は手書きでも構いません。</p><hr class="section"><h3 id="トップページモックアップ参考画像"><a name="トップページモックアップ参考画像" href="#トップページモックアップ参考画像"></a>トップページモックアップ参考画像</h3><hr class="section"><p><%= image_tag"4_3_001.gif", :alt => "モックアップ" %></p><hr class="section"><p>このようにその他ページについてもモックアップを作ってみましょう。</p>
  </div>