  <div class="span4">
    <%= render 'layouts/navbar4' %>
  </div>
  <div class="span8">
  	<h1 id="その他ページの画面設計"><a name="その他ページの画面設計" href="#その他ページの画面設計"></a>その他ページの画面設計</h1><hr class="page"><p>続いてトップページ以外の画面の設計を行います。<br>トップページで振り分けたリンク先のページをトップページと同じ要領で機能とリンク先に振り分けていきます。</p><p>トップページと同じく簡易ブログシステムを例にします。</p><h3 id="トップページのリンク"><a name="トップページのリンク" href="#トップページのリンク"></a>トップページのリンク</h3><hr class="section"><ul>
<li>詳細記事表示機能へのリンク</li>
<li>新規記事登録機能へのリンク</li>
<li>編集機能へのリンク</li>
<li>削除機能へのリンク</li>
</ul><hr class="section"><p>リンクを書き出したので次に必要なページを考えて見ましょう。</p><p>単純に<strong>【リンク先】の数</strong>だけページは必要です。</p><p>現段階で必要と思われるページ（リンク先）を書き出してみます。</p><ul>
<li>詳細記事表示ページ</li>
<li>新規記事登録ページ</li>
<li>編集ページ</li>
<li>削除ページ</li>
</ul><p>4つのページが必要そうです。</p><p>ただ<strong>【削除ページ】</strong>は必要ではなくて<br>機能の実装のみでトップページを再表示する形になります。</p><p>ですので本当に必要なページは下記の3ページとなります。</p><ul>
<li>詳細記事表示ページ</li>
<li>新規記事登録ページ</li>
<li>編集ページ</li>
</ul><p>それぞれに残りの<strong>【機能】</strong>と<strong>【リンク】</strong>を割り当てていきましょう。</p><p>まず2ページ目として記事詳細ページから作業を進めていきます。</p><h4 id="詳細記事表示【ページ2】"><a name="詳細記事表示【ページ2】" href="#詳細記事表示【ページ2】"></a>詳細記事表示【ページ2】</h4><hr class="section"><h5 id="機能"><a name="機能" href="#機能"></a>機能</h5><ul>
<li>詳細記事機能</li>
<li>コメント登録機能</li>
<li>コメント編集機能</li>
<li>コメント削除機能</li>
</ul><h5 id="リンク"><a name="リンク" href="#リンク"></a>リンク</h5><ul>
<li>トップページ（記事一覧）へのリンク</li>
</ul><hr class="section"><p>これで詳細記事表示ページの構成が完了しました。</p><p>残り必要なページは<strong>【新規記事登録ページ】【編集ページ】</strong>ですが、<br>こちらは同じページを使えますね。</p><p>3ページ目として構成をまとめていきます。</p><h4 id="新規記事登録・編集【ページ3】"><a name="新規記事登録・編集【ページ3】" href="#新規記事登録・編集【ページ3】"></a>新規記事登録・編集【ページ3】</h4><hr class="section"><h5 id="機能"><a name="機能" href="#機能"></a>機能</h5><ul>
<li>新規記事登録機能</li>
<li>編集機能</li>
</ul><h5 id="リンク"><a name="リンク" href="#リンク"></a>リンク</h5><ul>
<li>トップページ（記事一覧）へのリンク</li>
</ul><hr class="section"><p>以上で機能一覧をすべてページに振り分けることができました。<br>簡易ブログシステムシステムのページ構成は以下のようになります。</p><hr class="section"><ul>
<li>【ページ1】トップページ（ブログ一覧表示）</li>
<li>【ページ2】詳細記事表示</li>
<li>【ページ3】新規記事登録・編集</li>
</ul><hr class="section"><p>上記を例にトップページ以外のページも機能を振り分けて構成を考えていきましょう。<br>振り分けが完了したら、それぞれの構成を元に次セクションで、画面設計書の作成を行います。</p>
  </div>