  <div class="span4">
    <%= render 'layouts/navbar' %>
  </div>
  <div class="span8">
  	<h1 id="mind"><a name="mind" href="#mind"></a>Mind</h1><hr class="page"><p>ここまででRuby on Railsを使ったWebアプリケーションを作成する環境は整いました。<br>このセクションでは、Rails製のWebアプリを開発するために便利な分散型バージョン管理システムの<strong>git</strong>と、gitを使ってWebアプリのコードをプロジェクト単位でWeb上に共有できる<strong>Github</strong>を使って作ったアプリを管理、共有し、Rails製のWebアプリをデプロイ(Web上に公開して他の人がアクセスできるようにすること。本番環境のこと。)するのに便利なホスティングサービスのひとつ、<strong>heroku</strong>を使って本番環境にデプロイするまでの流れを学習していきます。</p><h5 id="~-作業の流れ-~"><a name="~-作業の流れ-~" href="#~-作業の流れ-~"></a>~ 作業の流れ ~</h5><ol>
<li>Railsコマンドを使ってMac上にアプリを作成</li>
<li>git バージョン管理</li>
<li>Github</li>
<li>デプロイする</li>
</ol>
  </div>