  <div class="span4">
    <%= render 'layouts/navbar' %>
  </div>
  <div class="span8">
  	<h1 id="github登録"><a name="github登録" href="#github登録"></a>Github登録</h1><hr class="page"><p>GithubのTOPページにて 【ユーザー名】 【メールアドレス】 【パスワード】 を入力して、<br>サインアップします。</p>
  	<hr class="section">
  	<p><%= image_tag("1_5_001.png", :alt => "Github登録") %></p><hr class="section"><p><a href="http://railstutorial.jp/chapters/beginning?version=4.0#sec-github">railstutorial　GitHub</a></p><hr class="section">
  </div>
