  <div class="span4">
    <%= render 'layouts/navbar' %>
  </div>
  <div class="span8">
  	<h1 id="gitの使い方"><a name="gitの使い方" href="#gitの使い方"></a>Gitの使い方</h1><hr class="page"><p>Gitの基本的な使い方を学習していきましょう。</p><hr class="section"><p><a href="http://blog.asial.co.jp/894">イラストでわかる！git入門の入門</a></p><hr class="section"><p><a href="http://railstutorial.jp/chapters/beginning?version=4.0#sec-version_control">railstutorial　Gitによるバージョン管理</a></p><p><a href="http://railstutorial.jp/chapters/beginning?version=4.0#sec-git_setup">railstutorial　Gitインストールとセットアップ</a></p><p><a href="http://railstutorial.jp/chapters/beginning?version=4.0#sec-adding_and_committing">railstutorial　追加とコミット</a></p><p><a href="http://railstutorial.jp/chapters/beginning?version=4.0#sec-1_3_3">railstutorial　Gitのメリット</a></p>
  </div>
