  <div class="span4">
    <%= render 'layouts/navbar' %>
  </div>
  <div class="span8">
  	<h1 id="githubの使い方"><a name="githubの使い方" href="#githubの使い方"></a>Githubの使い方</h1><hr class="page"><p>【github】とは、プロジェクトやソースコードの共有サービスです。<br>『git』というバージョン管理システムを使用し、Railsで作成したプロジェクトのソースを他人に見せたり、共有したり、<br>Githubへ保存していくことで、エラーが出た際に1つ前のデータ状態に戻す（ロールバック）ことが可能になります。</p><hr class="section"><p><a href="http://qiita.com/mountcedar/items/682743c95fd3b8fc274b">【Github】の参考サイト1</a></p><p><a href="http://nigohiroki.hatenablog.com/entry/2012/12/30/215822">【Github】の参考サイト2</a></p><p><a href="http://www.ne.jp/asahi/hishidama/home/tech/git/github.html">【Github】の参考サイト3</a></p><hr class="section">
  </div>
