  <div class="span4">
    <%= render 'layouts/navbar3' %>
  </div>
  <div class="span8">
  	<h1 id="mind"><a name="mind" href="#mind"></a>Mind</h1><hr class="page"><p>これから、『投稿時にメールを送信する』機能を実装しましょう。</p><p>この機能は投稿時のみならず、お問い合わせやDMの機能に追加して実装することが可能なため、<br>実用的な機能になります。</p><p>途中、メールアドレスやパスワードを入力する部分もありますので、<br>普段使用しないサブアカウントのメールアドレスを利用しましょう。</p><p>それでは、実装を進めていきましょう！</p>
  </div>