  <div class="span4">
    <%= render 'layouts/navbar2' %>
  </div>
  <div class="span8">
  	<h1 id="ruby基礎"><a name="ruby基礎" href="#ruby基礎"></a>Ruby基礎</h1><hr class="page"><p>ドットインストールの<a href="http://dotinstall.com/lessons/basic_ruby_v2">Ruby入門</a>を使ってRubyの基礎を習得します。<br>開発環境については、ドットインストール内ではVagrantという開発環境を構築して進めていますが、ここではMacのローカル環境 (Unixコマンド基礎と同じ) を使用します。</p><p>Rubyのコードはsublime textに書いていき、ファイルの保存名の拡張子を.rbで保存すればRubyのファイルとしてPCが認識してくれます。</p><p>Macに標準搭載されているターミナルを開き、保存したRubyファイルと同ディレクトリ内でRubyファイルを実行するコマンド、<code>ruby ファイル名.rb</code>でsublime textで作成したRubyファイルをターミナルから実行することができます。</p><p>この流れを理解した上で、実際にドットインストールの内容を進めていき、Rubyの基礎を習得していきます。</p>
  </div>