  <div class="span4">
    <%= render 'layouts/navbar2' %>
  </div>
  <div class="span8">
  	<h1 id="マーケティングの4P"><a name="マーケティングの4P" href="#マーケティングの4P"></a>マーケティングの4P</h1>

  	<hr class="page">

  	<p>マーケティングでは、主に以下の4つが重要とされています。</p>

	<h5>■マーケティングの4P</h5>
	<p>①製品（Product）<br>
	まずは自社の商品やサービス＝製品が必要です。<br>
	製品に関する全てのこと（生産、仕入れ、品質管理、開発）が、<br>
	このカテゴリになります。<br><br>

	②価格（Price）<br>
	次に、自社の製品をいくらで売るのかが重要になります。<br>
	その製品が属する市場や競合を分析しつつ、<br>
	製品のメリットを考慮した価格設定を行います。<br><br>

	③宣伝（Promotion）<br>
	どんな製品においても、このような考え方が必要です。<br>
	「誰に買ってもらいたいか？」「誰に知ってもらいたいか？」<br>
	どんな製品も、消費者や顧客に知ってもらわなければ売れません。<br>
	広告を掲示する媒体選びや、広告作成、宣伝にまつわる全ての活動も<br>
	マーケティングの一部と言えます。<br><br>

	④流通（Place）<br>
	どこで、どのような流れで、どのように製品を売るのか<br>
	売る場所を決めたり、その販売経路を考えるのも<br>
	重要なマーケティング活動になります。<br><br>

	この4Pは企業視点の考え方ですが、<br>
	どんな企業においても、商品を売るために必ず必要な<br>
	要素になります。</p>
  </div>