  <div class="span4">
    <%= render 'layouts/navbar2' %>
  </div>
  <div class="span8">
  	<h1 id="mind"><a name="mind" href="#mind"></a>Mind</h1><hr class="page"><p>このセクションではいよいよ<strong>Ruby</strong>について学んでいきます。</p><p>Rubyはとても<strong>自由</strong>な言語で、楽しくプログラミングを学んでいくことができます。<br>そしてこのあと学んでいくWebサービスを簡単に作れる強力なフレームワーク、Ruby on Railsを使いこなすための基礎をここでは学んでいきます。<br>前セクションで学んだUnixコマンドでの操作がこれからよくでてきますので、意識していきましょう。</p>
  </div>