  <div class="span4">
    <%= render 'layouts/navbar2' %>
  </div>
  <div class="span8">
  	<h1 id="mind"><a name="mind" href="#mind"></a>Mind</h1>

  	<hr class="page">

  	<h5>■マーケティングとは？</h5>
  	<p>
	マーケティングとは大枠で言うと、<br>
	「何かを売ること」です。<br><br>

	何かを売るためには<br>
	「商品作り」「仕入れ」「宣伝」など<br>
	様々な活動が必要になります。<br><br>

	WEBマーケティングを学ぶ前に、<br>
	マーケティングとはどういうモノなのか？<br>
	どういう考え方があるのか？<br>
	を簡単に学んでみましょう。<br><br>

	また、ここではWEBマーケティングをメインにするため多くを割愛しますが、<br>
	マーケティングについて詳しく知りたい方は、<br>
	以下の参考サイトや参考書籍を見ることで<br>
	知識を得ることが出来ます。</p>

	<hr class="underscore">
	<h5>■参考サイト</h5>

	<hr class="underscore">
	<h5>■参考書籍</h5>
  </div>