  <div class="span4">
    <%= render 'layouts/navbar2' %>
  </div>
  <div class="span8">
  	<h1 id="マーケティングの4C"><a name="マーケティングの4C" href="#マーケティングの4C"></a>マーケティングの4C</h1>

  	<hr class="page">

  	<p>	4Pのマーケティング活動を、顧客目線で検証するため、<br>
	マーケティングの4Cにて検証していきます。</p>

	<h5>■マーケティングの4C</h5>
	<p>①顧客価値（Customer Value）<br>
	顧客にどのような価値を与えることが出来るか<br>
	⇒「Product」はどのような価値があるのか？<br><br>


	②顧客負担（Cost to Customer）<br>
	商品・サービスの価値に対して、<br>
	どの程度の支払いが可能であるか<br>
	⇒「Price」は適切な価格であるか？<br><br>


	③コミュニケーション（Communication）<br>
	顧客はどのような情報が欲しいのか<br>
	⇒「Promotion」は求められている情報であるか？<br><br>


	④入手の容易性（Convinience）<br>
	どこで、どのような方法にて商品・サービスを手に入れられると<br>
	顧客にとって1番最適であり、便利であるか<br>
	⇒「Place」は手に届きやすい場所であるか？<br><br>

	この企業視点・顧客視点の4つから、マーケティングの大枠を決めていきます。</p>
  </div>