  <div class="span4">
    <%= render 'layouts/navbar5' %>
  </div>
  <div class="span8">
  	<h1 id="ワイヤーフレームの書き方"><a name="ワイヤーフレームの書き方" href="#ワイヤーフレームの書き方"></a>ワイヤーフレームの書き方</h1>

  	<hr class="page">

  	<h4>1.必要な材料リストを作る</h4>

	<p>まずは5-2で決めた内容を整理しましょう。<br>
	商品のコンセプトやコンバージョンによって内容が変わっていきます。<br>
	今回はLPのため、そこまで凝った機能は実装しませんが、<br>
	問い合わせフォームの実装などは高度なプログラミングスキルが求められます。<br><br>

	早いうちに、必要な機能・素材を洗い出して、<br>
	デザイン・コーディングで変更がなるべく無いように<br>
	詰めるところは詰めておきましょう。<br><br>

	ex.LP<br>
	・ロゴ<br>
	・電話番号<br>
	・商品詳細<br>
	・イメージ画像<br>
	・問い合わせフォーム<br>
	・景品表示法に基づく記載ページ<br>
	・お客様の声<br>
	などなど・・・</p>

	<hr>

	<h4>2.コンテンツマップを作る</h4>
	<p>コンテンツマップとは、<br>
	ページ内に必要なコンテンツをリスト化したもので、<br>
	洗い出した後に配置順を考えていきます。<br><br>

	LPの場合は以下のコンテンツを参考にしましょう。<br>
	・キャッチコピー<br>
	・お客様への約束<br>
	・成功例<br>
	・ファーストビュー＆なぜ（なぜタイプ）<br>
	・プロフィール<br>
	・共感＆ベネフィット<br>
	・客観的証明（お客様の声・レビュー）<br>
	・根拠の提示（何タイプ）<br>
	・参加料金<br>
	・サポート<br>
	・ご利用の流れ（どうやってタイプ）<br>
	・オファー<br>
	・レビュー<br>
	・特典<br>
	・お断り<br>
	・Q＆A<br>
	・今すぐ（今すぐタイプ）<br>
	・募集時期定員<br>
	・定員になり次第募集終了となります。<br><br>

	これらの要素を、5-3で学んだ「4つの学習タイプ」<br>
	に伝わるよう、配置順を考えていきます。</p>

	<hr>

	<h4>3.手書きでワイヤーを書いてみる</h4>
	<p>ここまでリスト化すると、必要な要素や構成が具体化されます。<br>
	実際に各要素を配置していき、<br>
	図でイメージできない・伝わりにくい点は文字で補いましょう。<br><br>

	特に伝わりにくい点<br>
	・イメージ画像<br>
	・文字のフォント感<br>
	・実装した機能の動作<br>
	・このレイアウトの目的<br>
	・色合い<br>
	・ページのコンセプト<br>
	などなど・・・<br><br>

	また、ここで重要になるのが『サイズ感』です。<br><br>

	この後、デザインを作成してコーディングをしますが、<br>
	この地点で各ブロックの横幅を決めておかないと、<br>
	「文字が小さすぎる」「適した素材がない」<br>
	「コーディングする時のサイズをいちいち確認」<br>
	こんなコトが多々起こります。<br><br>

	近年では『960px』くらいが推奨されていますが、<br>
	PCユーザー向けに横幅を広く使いたい場合は『1024px』とかにします。<br><br>

	スマホの場合は、画面のサイズによって表示が変わる<br>
	『レスポンシブ』という手法が主に使われます。<br><br>

	特に『レスポンシブサイト』を作る際は<br>
	PCサイズとスマホ・タブレットサイズが<br>
	とても重要になるので、サイズを明確にしておきましょう。<br><br>

	※PC用とスマホ用であまりにもサイズが異なり、<br>
	1からやり直しというコトもよくあります。<br><br>

	サイズについてはコチラのサイトを参照しましょう。<br>
	<%= link_to "HOMEPAGE MASTERS",'http://www.homepage-masters.com/toppage/d3.html' %></p>
  </div>