  <div class="span4">
    <%= render 'layouts/navbar5' %>
  </div>
  <div class="span8">
  	<h1 id="使用ツール"><a name="使用ツール" href="#使用ツール"></a>使用ツール</h1>

  	<hr class="page">

  	<p>Mindでもお伝えした通り、<br>
	ワイヤーフレームの作成には「手書き」と「PC」があります。<br><br>

	特に指定が無ければ、自分のやりやすい方法を選びましょう。</p>

	<hr>

	<h4>手書き</h4>
	<p>手書きでのワイヤーフレーム作成を行う場合は、<br>
	こちらのサイトに手書き用のテンプレートがあるので、<br>
	ぜひ利用してみましょう。<br><br>

	<%= link_to "『Webクリエイターボックス』" , 'http://www.webcreatorbox.com/tech/basic-wireframe/' %></p>

	<hr>

	<h4>Photoshop</h4>
	<p>「自分のやりやすい方法」といいつつ、<br>
	実際はPhotoshopで作成できると一番良いです。<br><br>

	なぜなら、Photoshopでワイヤーフレームを作れると、<br>
	そのままデザイン化することが可能だからです。<br><br>

	今後、WEBデザインを学んでいく上で、<br>
	「Photoshopでも作れそう！」な方はチャレンジしてみましょう。</p>

	<hr>

	<h4>Cacoo</h4>
	<p>『Cacoo』はWEB上でワイヤーフレームが作れるサービスです。<br>
	他にもワイヤーフレームが作れるサービスは多々ありますが、<br>
	日本語対応でテンプレートも揃っており、<br>
	実際の現場でもよく使われているのがこの『Cacoo』です。<br><br>

	Cacooは他のユーザーとも共有できるため、<br>
	複数で作成することも可能です。<br><br>

	「手書きじゃ物足りない」<br>
	「ツールを使って作成したい」<br>
	という方はぜひ利用してみましょう。<br><br>

	※参考サイト<br>
	<%= link_to "『Cacoo』" , 'https://cacoo.com/' %><br>
	<%= link_to "『nanapi』" , 'http://nanapi.jp/31720' %></p>
  </div>