  <div class="span4">
    <%= render 'layouts/navbar5' %>
  </div>
  <div class="span8">
  	<h1 id="mind"><a name="mind" href="#mind"></a>Mind</h1>

  	<hr class="page">

  	<h4>ワイヤーフレームとは？</h4>
  	<p>LP制作に必要なスキルを一通り学んだところで、<br>
	『ワイヤーフレーム』を作っていきましょう。<br><br>

	『ワイヤーフレーム』とは「部屋の間取図」「家の設計図」のようなもので、<br>
	ページ内で「何を」「どこに」「どのように」配置するかまとめたものです。<br><br>

	何となく企画をしたところで、一気にデザインを開始するのではなく、<br>
	ワイヤーフレームの段階で骨組みを固めておくと、<br>
	その後の作業がスムーズに進みます。<br><br>

	ワイヤーフレームの参考例については、以下のページをご覧ください。<br>
	<%= link_to "Google画像検索『ワイヤーフレーム』", 'https://www.google.co.jp/search?q=%E3%83%AF%E3%82%A4%E3%83%A4%E3%83%BC%E3%83%95%E3%83%AC%E3%83%BC%E3%83%A0&tbm=isch' %><br>
	<%= link_to "Wireflame Showcase", 'http://www.wireframeshowcase.com/' %><br>
	<%= link_to "flickr 『I ♥ wireframes + J』", 'https://www.flickr.com/groups/ilovewireframes/pool/' %></p>

	<hr>

	<h4>手書きとPC</h4>
	<p>ワイヤーフレームを作成する際は、<br>
	「手書き」と「PC制作」の2パターンあります。<br><br>

	《手書き》<br>
	自分のサイトのワイヤーフレームなら、紙とペンですぐ作れるためにオススメ。<br><br>

	《PC》<br>
	制作を請負う際やグループで制作する場合、<br>
	リモートでのやり取りがメインになるため、画像やPDFなどのデータが必要になります。<br>
	※実際の制作現場ではPhotoshop、Illustratorにて作ってしまう方も多いです。<br><br>

	今回の学習では「手書き」の方が時間がかからないため推奨していますが、<br>
	ワイヤーフレームが手軽に作成できるWEBサービスもありますので、<br>
	時間がある方はぜひ利用してみましょう。<br>
	※実際の制作現場でも使われたりします。<br><br>

	ワイヤーフレームを作成していく上でのポイントは、<br>
	・デザイン、コーディングを意識した設計<br>
	・分かりづらい点は文字で補足する<br>
	・必要な機能や素材を具体的にしておく<br>
	この3つになります。<br>

	それでは、ワイヤーフレームについて学びましょう。</p>
  </div>