  <div class="span4">
    <%= render 'layouts/navbar5' %>
  </div>
  <div class="span8">
  	<h1 id="企画課題"><a name="企画課題" href="#企画課題"></a>企画課題</h1>

  	<hr class="page">

	<p>ここまで学んだら、LP制作セクション最初で課題でした、<br>
	『企画課題』をもう一度やってみましょう。<br><br>

	「コピーラーティング」や「ワイヤーフレームの書き方」など<br>
	今回学んだ知識を最大限発揮することで、<br>
	魅力あるLPが作れるようになっています。<br><br>

	ある程度の形が出来たら、一度インストラクターに提出し<br>
	フィードバックを受けた上で完成させましょう。<br><br>

	なお、商品やコンバージョンは同様にしましょう。</p>
  </div>