  <div class="span4">
    <%= render 'layouts/navbar2' %>
  </div>
  <div class="span8">
  	<h1 id="セクション全体構成"><a name="セクション全体構成" href="#セクション全体構成"></a>セクション全体構成</h1>

  	<hr class="page">

  	<!--p>HTML入門が終了し、ルールや書き方を理解したら、次はCSSです。<br>この２つがWebページの表示部分を制御しているので、<br>このマニュアルを終えたころには、調べながらにも自分ひとりで綺麗なWebページが制作できるようになります。</p><h4 id="css入門"><a name="css入門" href="#css入門"></a>CSS入門</h4><hr class="section"><p>ドットインストールの<a href="http://dotinstall.com/lessons/basic_css_v2">CSS入門</a>を使ってCSSの基礎を習得します。<br>基本的な開発環境、ツールなどもPC標準のもので問題ないですし、特に詰まる箇所もないはずですが、もしどんなツールを使えばいいかなどがある場合は、ググるかインストラクターにご連絡ください。</p-->
  </div>