  <div class="span4">
    <%= render 'layouts/navbar2' %>
  </div>
  <div class="span8">
  	<h1 id="html基礎"><a name="html基礎" href="#html基礎"></a>HTML基礎</h1><hr class="page"><p>HTMLとCSSは良くプログラミングの入り口として取り入れられることが多いです。<br>何故かというと、現在の世界にあるWebページというのはだいたいHTMLとCSSによって見た目が作られています。(HTML,CSSについては<%= link_to"こちら", chapter1_section2_manual2_path %>)<br>そして記述的には単純であり、ルールさえ覚えてしまえば楽に書くことができる上、これからWebサービスを開発していく中でいろんな箇所に出てくる基礎スキルになるためです。</p><h4 id="html入門"><a name="html入門" href="#html入門"></a>HTML入門</h4><hr class="section"><p>ドットインストールの<a href="http://dotinstall.com/lessons/basic_html_v2">HTML入門</a>を使ってHTMLの基礎を習得します。<br>基本的な開発環境、ツールなどもPC標準のもので問題ないですし、特に詰まる箇所もないはずですが、もしどんなツールを使えばいいかなどがある場合は、ググるかインストラクターにご連絡ください。</p>
  </div>