  <div class="span4">
    <%= render 'layouts/navbar2' %>
  </div>
  <div class="span8">
  	<h1 id="WEBマーケティングとは？"><a name="WEBマーケティングとは？" href="#WEBマーケティングとは？"></a>WEBマーケティングとは？</h1>

  	<hr class="page">

  	<h5>■WEBマーケティングとは</h5>
	<p>『WEBマーケティング』とは、インターネットを活用した<br>
	マーケティング活動全般を指す言葉です。<br>
	例えば、ECサイトのようにWEBサイト上で<br>
	決済が完了するビジネスモデルはもちろん、<br>
	ネット上にて行われる商品・サービスの告知・宣伝など、<br>
	消費者や顧客とのコミュニケーション、実店舗への来店促進のための誘導など、<br>様々なWEBマーケティング手法があります。<br><br>

	2012年には、インターネット利用人口が9610万人、日本全体の人口において<br>
	約8割が日常的にインターネットを使用し、メディアに接するようになりました。<br>
	そのため、多くの人に対して商業活動を行う上で、<br>
	WEBマーケティングはあらゆる業種において必要不可欠な存在になりました。<br><br>

	しかし、現状として『WEBマーケティング』をしっかりと理解して、<br>
	WEB上での売上を上げている企業・サービスはまだ多いとは言えません。<br><br>

	ですので、今のうちにWEBマーケティングの本質を理解し、<br>
	実際に多くの人々へ素晴らしい価値を提供できる人財になりましょう。</p>

	<hr class="underscore">
	<h5>■近年の購買活動</h5>

	<p>インターネットが普及する以前の消費者による購買活動は<br>
	いわゆる『AIDMA』と言われる流れでした。<br><br>

	それが、検索エンジン（Yahoo!、Google）の普及により、<br>
	気になった商品を『検索』するようになりました。<br><br>

	さらにSNS（Twitter、Facebook）サービスが始まり、<br>
	良かった商品・サービスの『シェア』が始まりました。<br><br>

	このように、現代では欲しいと思った商品やサービスの情報を<br>
	自らの手で検索することができ、事前準備が当たり前になっています。<br>
	またSNSによって、本当に良い商品は口コミで共有されるようになりました。<br><br>

	このため、今までのように一方的に自社商品のメリットを伝える<br>
	マーケティング手法だけでは通用しないと言われています。</p>

	<hr class="underscore">
	<h5>■人々の購買活動は変わらない？</h5>

	<p>とはいえ、みなさんは<br>
	・自分が納得するまで検索して商品を購入しているでしょうか？<br>
	・SNSでシェアされた商品ばかり購入しているでしょうか？<br><br>

	きっと未だにこういう経験はあると思います。<br>
	・たまたま見た通販番組で自分の欲しかったジャンルの商品をついつい買ってしまった<br>
	・ネットサーフィンをしていたら、なんとなく気になった広告があり、無料サンプルを応募してしまった<br>
	・スーパーに行ったらたまたまセールをやっていたので、必要じゃないものを多く買ってしまった<br>

	消費者の購買心理はいつの時代もそこまで変わりません。<br>
	ですので、しっかりとしたアプローチを行えば、それなりに結果は出るのです。</p>

	<hr class="underscore">
	<h5>■WEBマーケティングのポイント</h5>
	<p>WEBマーケティングのキモになるのは『数値』と『満足度』です。<br>
	WEBマーケティングの手法を行った場合、適切な設定を行うことで、<br>
	結果がすぐに数値として現れます。<br><br>

	その結果が良ければ、<br>
	さらにその手法に対してお金をつぎ込めば、売上は上がります。<br>
	もし結果が良くなければ、<br>
	何が悪かったのかを分析して、改善していきます。<br><br>

	これらは、以下のターンにて説明していきます。<br>
	・ウェブ解析<br>
	・SEO<br>
	・リスティング広告<br>
	・LP<br><br>

	さらに『数値』では表せない『満足度』。<br>
	ここは始めから質の高いコンテンツを提供して、<br>
	そこから定期的なアプローチを行うことで、<br>
	自社商品・サービスの信頼を獲得していきます。<br><br>

	これらは、以下のターンにて説明していきます。<br>
	・コンテンツマーケティング<br>
	・顧客成長モデル<br><br>

	そして、今日ではスマートフォンの普及により、<br>
	PC向けのみならず、スマホでの閲覧に対応することで<br>
	顧客の取りこぼしを防ぐ必要があります。<br><br>

	そのため、<br>
	・モバイルマーケティング<br>
	にて、詳しく説明していきます。</p>

  	<!--p>HTMLとCSSは良くプログラミングの入り口として取り入れられることが多いです。<br>何故かというと、現在の世界にあるWebページというのはだいたいHTMLとCSSによって見た目が作られています。(HTML,CSSについては<%= link_to"こちら", chapter1_section2_manual2_path %>)<br>そして記述的には単純であり、ルールさえ覚えてしまえば楽に書くことができる上、これからWebサービスを開発していく中でいろんな箇所に出てくる基礎スキルになるためです。</p><h4 id="html入門"><a name="html入門" href="#html入門"></a>HTML入門</h4><hr class="section"><p>ドットインストールの<a href="http://dotinstall.com/lessons/basic_html_v2">HTML入門</a>を使ってHTMLの基礎を習得します。<br>基本的な開発環境、ツールなどもPC標準のもので問題ないですし、特に詰まる箇所もないはずですが、もしどんなツールを使えばいいかなどがある場合は、ググるかインストラクターにご連絡ください。</p-->
  </div>