  <div class="span4">
    <%= render 'layouts/navbar2' %>
  </div>
  <div class="span8">
  	<h1 id="セクション全体構成"><a name="セクション全体構成" href="#セクション全体構成"></a>セクション全体構成</h1>

  	<hr class="page">

  	<p>
	■2-1.WEBマーケティング<br>
	■2-2.マーケティングとは<br>
	ここでは、<br>
	「そもそもマーケティングとは？」<br>
	「WEBマーケティングをなぜ学ぶのか？」<br>
	を明確にして、WEBマーケティングを学ぶメリットと、<br>
	何を学ぶのかを理解して頂きます。<br><br>


	■2-3.ウェブ解析<br>
	■2-4.SEO、SEM<br>
	■2-5.リスティング広告<br>
	WEBマーケティングで主となる手法について学んで頂きます。<br>
	実際にこれらの手法を使うことで、<br>
	インターネット上に存在する莫大な情報の中から、<br>
	自社に関する情報を見つけ出してもらいます。（集客）<br><br>


	■2-6.ランディングページ・サテライトページ<br>
	■2-7.コンテンツマーケティング<br>
	■2-8.顧客成長モデル<br>
	そして、集客を行った上で、<br>
	自社のメリットを的確に知ってもらい、<br>
	顧客とのコミュニケーションから『信頼』を獲得し、<br>
	『成約』につなげます。<br><br>


	■2-9.モバイルマーケティング<br>
	さらに、スマホの普及が進み、今後の主戦場がPC→モバイルに移る中で、<br>
	PCのみならずモバイルにも対応できるよう、<br>
	モバイルマーケティングの知識も身につけて頂きます。<br><br>


	■2-10.WEBマーケティング全体構造<br>
	WEBマーケティングに関する知識をたくさん身につけて頂いたところで、<br>
	さらにスキルアップ、実践に移してもらいます。<br>
	その前に、今回のセクションで学んだ知識・スキルをまとめておきましょう。</p>

  	<!--p>HTML入門が終了し、ルールや書き方を理解したら、次はCSSです。<br>この２つがWebページの表示部分を制御しているので、<br>このマニュアルを終えたころには、調べながらにも自分ひとりで綺麗なWebページが制作できるようになります。</p><h4 id="css入門"><a name="css入門" href="#css入門"></a>CSS入門</h4><hr class="section"><p>ドットインストールの<a href="http://dotinstall.com/lessons/basic_css_v2">CSS入門</a>を使ってCSSの基礎を習得します。<br>基本的な開発環境、ツールなどもPC標準のもので問題ないですし、特に詰まる箇所もないはずですが、もしどんなツールを使えばいいかなどがある場合は、ググるかインストラクターにご連絡ください。</p-->
  </div>