  <div class="span4">
    <%= render 'layouts/navbar2' %>
  </div>
  <div class="span8">
  	  <h1 id="unix基礎"><a name="unix基礎" href="#unix基礎"></a>Unix基礎</h1><hr class="page"><p><strong>Unix</strong>とは、平たく言うとC言語というプログラミング言語で書かれたOSです。<br>Unix OSのベースは<strong>CUI</strong>（Character User Interface：キャラクタユーザインタフェース）という文字（コマンド）中心のOSです。<br>これは、ターミナル (プログラミングと言われてよくイメージする黒い画面に緑の文字がいっぱい並んだようなあれ) 、と呼ばれるものにコマンドを打ち込んでコンピュータを操作するということです。</p><p>逆に、普段我々が目にするMacやWindowsのカラフルでデザイン性豊かな画面に、マウスカーソルを合わせてクリックして操作するようなものをGUI（Graphical User Interface：グラフィカルユーザインタフェース）と言います。</p><p>今後Rubyなどのプログラミング言語を使用してサーバやWebサービスを開発するにあたり、このUnixコマンドというのは必須スキルになります。</p><h4 id="unixコマンド入門"><a name="unixコマンド入門" href="#unixコマンド入門"></a>Unixコマンド入門</h4><hr class="section"><p>ドットインストールの<a href="http://dotinstall.com/lessons/basic_unix">Unixコマンド入門</a>を使ってUnixコマンドの基礎を習得します。</p><p>この時、ドットインストール内では開発環境に <strong> “Vagrant”</strong> というのを使用しているのですが、これはそのままMacのローカル環境に置き換えて進めていってください。</p><p>Macのローカル環境とは、ターミナルを開いた際の状態のことです。</p><pre><code class="terminal hljs" data-origin="&lt;pre&gt;&lt;code class=&quot;terminal&quot;&gt;Last login: Fri May  2 20:17:38 on ttys003
MbPro:~ username$
&lt;/code&gt;&lt;/pre&gt;">Last login: Fri May  2 20:17:38 on ttys003
MbPro:~ username$
</code></pre><p>そこにそのままドットインストールで言われたことを打ち込んでも問題なく動作します。</p><h4 id="例"><a name="例" href="#例"></a>例</h4><pre><code class="terminal hljs" data-origin="&lt;pre&gt;&lt;code class=&quot;terminal&quot;&gt;Last login: Fri May  2 20:17:38 on ttys003
MbPro:~ username$ cd Desktop
MbPro:Desktop username$
&lt;/code&gt;&lt;/pre&gt;">Last login: Fri May  2 20:17:38 on ttys003
MbPro:~ username$ cd Desktop
MbPro:Desktop username$
</code></pre><p>ドットインストール内 #1 ~ #３まではこのVagrant上での操作になるため、視聴して知識を得て頂くだけで、実際にコマンドは打たなくて大丈夫です。</p>
  </div>