  <div class="span4">
    <%= render 'layouts/navbar2' %>
  </div>
  <div class="span8">
  	  <h1 id="mind"><a name="mind" href="#mind"></a>Mind</h1><hr class="page"><p>ここでは、プログラミンの基礎としてまずHTMLとCSSについて学んでいただきます。<br>基本的にはドットインストールという動画でプログラミングを学べるサイトを使って<br>基礎の基礎を学んで頂きます。</p><p>もしサイトを真似して書いたコードがどうしても動かなかったり、概念的な面で理解ができない箇所がでてくれば、まずは自分で調査して解決することを目標にしてください。<br>プログラマにとって検索能力、ググる力はとても重要なスキルになります。<br>これを伸ばすことに注力していけば、プログラマとしての伸びは早いはずです。</p><p>ですが、調査してもわからない問題というのも絶対にでてきます。<br>ここまでくればインストラクターに連絡を入れ、サクッとそのバクをとってしまったほうが時間の有効活用もでき、次の学習に取り組むことができます。</p><p>そして、「この問題に対して、自分で◯◯分調べてみよう。それでダメならインストラクターにヒントをもらおう。」っといった具合に自分の中で時間のルールなどを設けると、目標が明確になり、作業にメリハリもつきます。</p><p>もちろんコードを書くスキルなどもここでは学んでいきますが、こういったプログラミングをする上での<strong>癖</strong>を身につけることで、フリーランスとしてやっていける力にしていくことができます。</p><h4 id="プログラミングの基礎学習で意識すること"><a name="プログラミングの基礎学習で意識すること" href="#プログラミングの基礎学習で意識すること"></a>プログラミングの基礎学習で意識すること</h4><ul>
<li>検索能力を伸ばす</li>
<li>問題に対して自分にルールを設ける</li>
</ul><hr class="underscore"><h4 id="学習内容"><a name="学習内容" href="#学習内容"></a>学習内容</h4><p>プログラミング初心者が良質なプログラミング基礎を学ぶのに適した「3分動画でマスターする初心者向けプログラミング学習サイト  <a href="http://dotinstall.com/">ドットインストール</a>」というのがあります。<br>今回はこの中の<a href="http://dotinstall.com/lessons/basic_html_v2">HTML入門</a>、<a href="http://dotinstall.com/lessons/basic_css_v2">CSS入門</a>、<a href="http://dotinstall.com/lessons/basic_unix">Unixコマンド入門</a>、<a href="http://dotinstall.com/lessons/basic_ruby_v2">Ruby入門</a>、<a href="http://dotinstall.com/lessons/basic_rails_v2">Ruby on Rails4入門</a>を使ってプログラミングとはどういったものなのかを摑んでもらいます。</p><p>ドットインストールで基礎を学んだあとは、世界的に有名であり有料参考書に匹敵する内容の<a href="http://railstutorial.jp">railstutorial</a>というサイトをフォローしながら<strong>ミニツイッターアプリ</strong>を制作します。</p><h4 id="概算学習時間"><a name="概算学習時間" href="#概算学習時間"></a>概算学習時間</h4><hr class="section"><p>ドットインストール<br>【5h】HTML基礎 20分 x 16回<br>【6h】CSS基礎 20分 x 18回<br>【5h】Unix基礎 20分 x 16回<br>【11h】Ruby基礎 30分 x 22回<br>【28h】Ruby on Rails基礎 60分 x 28回</p><p>railstutorial<br>【22h】railstutorial 2時間 x 11章</p>
  </div>
