  <div class="span4">
    <%= render 'layouts/navbar' %>
  </div>
  <div class="span8">
  	  <h1 id="ターミナルからherokuにログイン"><a name="ターミナルからherokuにログイン" href="#ターミナルからherokuにログイン"></a>ターミナルからherokuにログイン</h1><hr class="page"><p>ターミナル上でコマンドを入力し、herokuにログインをします。</p><hr class="section"><p><strong>1.コマンドを入力</strong></p><pre><code class="ruby hljs" data-origin="&lt;pre&gt;&lt;code class=&quot;ruby&quot;&gt;$ heroku login
&lt;/code&gt;&lt;/pre&gt;"><span class="hljs-variable">$ </span>heroku login
</code></pre><hr class="section"><p><strong>2.herokuに登録した「メールアドレス」と「パスワード」を入力</strong></p><pre><code class="ruby hljs" data-origin="&lt;pre&gt;&lt;code class=&quot;ruby&quot;&gt;Enter your Heroku credentials.
Email:《herokuに登録したメールアドレスを入力》
Password (typing will be hidden): 《herokuに登録したパスワードを入力》
&lt;/code&gt;&lt;/pre&gt;"><span class="hljs-constant">Enter</span> your <span class="hljs-constant">Heroku</span> credentials.
<span class="hljs-constant">Email</span><span class="hljs-symbol">:</span>《herokuに登録したメールアドレスを入力》
<span class="hljs-constant">Password</span> (typing will be hidden)<span class="hljs-symbol">:</span> 《herokuに登録したパスワードを入力》
</code></pre><hr class="section"><p>初めてログインする際は、パスワード入力後に『SSHキー』の設定に続いて入ります。</p>
  </div>