  <div class="span4">
    <%= render 'layouts/navbar' %>
  </div>
  <div class="span8">
  	<h1 id="herokuç”¨sshã‚­ãƒ¼ã®ä½œæˆ"><a name="herokuç”¨sshã‚­ãƒ¼ã®ä½œæˆ" href="#herokuç”¨sshã‚­ãƒ¼ã®ä½œæˆ"></a>herokuç”¨sshã‚­ãƒ¼ã®ä½œæˆ</h1><hr class="page"><p>githubã§ã‚‚åˆ©ç”¨ã—ã¾ã—ãŸãŒã€å¤–éƒ¨ã®Webã‚µãƒ¼ãƒ“ã‚¹ã¨ã®æ¥ç¶šã®éš›ã«ã€sshã‚­ãƒ¼ã€ã¨ã„ã†ã‚«ã‚®ã‚’ä½¿ã„ã€æš—å·åŒ–ã‚’ã—ã¦æ¥ç¶šã—ã¾ã™ã€‚</p><p>githubã«ã¦ãƒ‘ãƒ–ãƒªãƒƒã‚¯ã‚­ãƒ¼ã‚’ä½œæˆã—ã¦ã„ã‚‹æ–¹ã¯ã€ãƒ­ã‚°ã‚¤ãƒ³å¾Œã«ä»¥ä¸‹ã®ã‚ˆã†ãªè¡¨ç¤ºãŒã•ã‚Œã¾ã™ã€‚</p><pre><code class="ruby hljs" data-origin="&lt;pre&gt;&lt;code class=&quot;ruby&quot;&gt;Found existing public key: /Users/(PCãƒ¦ãƒ¼ã‚¶ãƒ¼å)/.ssh/id_rsa.pub
Uploading SSH public key /Users/(PCãƒ¦ãƒ¼ã‚¶ãƒ¼å)/.ssh/id_rsa.pub... done
Authentication successful.
&lt;/code&gt;&lt;/pre&gt;"><span class="hljs-constant">Found</span> existing public <span class="hljs-symbol">key:</span> /<span class="hljs-constant">Users</span>/(<span class="hljs-constant">PC</span>ãƒ¦ãƒ¼ã‚¶ãƒ¼å)/.ssh/id_rsa.pub
<span class="hljs-constant">Uploading</span> <span class="hljs-constant">SSH</span> public key /<span class="hljs-constant">Users</span>/(<span class="hljs-constant">PC</span>ãƒ¦ãƒ¼ã‚¶ãƒ¼å)/.ssh/id_rsa.pub... done
<span class="hljs-constant">Authentication</span> successful.
</code></pre><hr class="section"><p>sshã‚­ãƒ¼ãŒå­˜åœ¨ã—ãªã„å ´åˆã¯ã€ä»¥ä¸‹ã®æµã‚Œã§sshã‚­ãƒ¼ã‚’ä½œæˆï¼†ç™»éŒ²ã—ã¾ã™ã€‚</p><pre><code class="ruby hljs" data-origin="&lt;pre&gt;&lt;code class=&quot;ruby&quot;&gt;Could not find an existing public key.
Would you like to generate one? [Yn]
&lt;/code&gt;&lt;/pre&gt;"><span class="hljs-constant">Could</span> <span class="hljs-keyword">not</span> find an existing public key.
<span class="hljs-constant">Would</span> you like to generate one? [<span class="hljs-constant">Yn</span>]
</code></pre><p>â†’Yesã®ã€ŒYã€ã‚’å…¥åŠ›ã—ã¦Enterã‚’æŠ¼ã—ã¾ã™ã€‚</p><pre><code class="ruby hljs" data-origin="&lt;pre&gt;&lt;code class=&quot;ruby&quot;&gt;Generating new SSH public key.
Uploading SSH public key /Users/(PCãƒ¦ãƒ¼ã‚¶ãƒ¼å)/.ssh/id_rsa.pub
Authentication successful.
&lt;/code&gt;&lt;/pre&gt;"><span class="hljs-constant">Generating</span> new <span class="hljs-constant">SSH</span> public key.
<span class="hljs-constant">Uploading</span> <span class="hljs-constant">SSH</span> public key /<span class="hljs-constant">Users</span>/(<span class="hljs-constant">PC</span>ãƒ¦ãƒ¼ã‚¶ãƒ¼å)/.ssh/id_rsa.pub
<span class="hljs-constant">Authentication</span> successful.
</code></pre><hr class="section"><p><code>Authentication successful.</code>ãŒè¡¨ç¤ºã•ã‚ŒãŸã‚‰ã€herokuã¸ã®ãƒ­ã‚°ã‚¤ãƒ³ãŒå®Œäº†ã§ã™ã€‚</p>
  </div>