  <div class="span4">
    <%= render 'layouts/navbar' %>
  </div>
  <div class="span8">
  	<h1 id="mind"><a name="mind" href="#mind"></a>mind</h1><hr class="page"><p>このセクションでは、作成したWebアプリケーションをWeb上にアップするため、<br><strong>heroku</strong>という無料で使えるサーバーの設定を学習していただきます。</p><p>今回は、</p><ul>
<li>herokuアカウントの登録</li>
<li>PC環境との接続</li>
</ul><p>がメインとなります。</p><p>特に<strong>「sshキー」</strong>に関しては、<br>その他のWebサービスを使う際にも重要になりますので、<br>表示される内容を確認をしながら進めてみましょう。<br>それでは<strong>heroku</strong>について学習していきましょう。</p>
  </div>