  <div class="span4">
    <%= render 'layouts/navbar' %>
  </div>
  <div class="span8">
  	<h1 id="herokuとは"><a name="herokuとは" href="#herokuとは"></a>herokuとは</h1><hr class="page"><p><strong>Heroku</strong>とは、Ruby on RailsなどのRuby Webアプリケーション用のホスティングプラットフォームです。<br>簡単に言うと、WEB上で自分が作ったRubyのアプリを見れるようにしてくれるレンタルサーバーみたいなものです。</p><p>herokuの優れているところは、</p><ul>
<li>ある程度のアクセス量までは<strong>無料で使える</strong></li>
<li>gitを使い、<strong>簡単に本番環境へデプロイ</strong>できる</li>
</ul><p>これらの点が挙げられます。</p><p>ですので、「これからWEBサービスを作っていきたい！」という初心者には<br>初期コストもかからず、お試しでWEBアプリケーションを作ることができ、うってつけです。</p><p>今回はこのherokuを使い、実際に作ったアプリケーションをWEB上で動かしてみましょう。</p>
  </div>