  <div class="span4">
    <%= render 'layouts/navbar2' %>
  </div>
  <div class="span8">
  	<h1 id="基礎問題"><a name="基礎問題" href="#基礎問題"></a>基礎問題</h1>

  	<hr class="page">
	<p>・SEOとは？<br>
	・外部対策？内部対策？<br>
	・このサイトはどんな内部対策がなされているのか？<br>
	・外部対策には何を使うのが良い？<br>
	・※本に書かれている課題を出してあげる	</p>
  </div>