  <div class="span4">
    <%= render 'layouts/navbar2' %>
  </div>
  <div class="span8">
  	<h1 id="外部対策"><a name="外部対策" href="#外部対策"></a>外部対策</h1>

  	<hr class="page">

  	<p>外部対策＝被リンク<br><br>

	キュレーションサービス<br>
	SNS<br><br>

	いまの検索アルゴリズムだと、リンクサイトからの被リンクはあまり効果的でない<br>
	リンクの数よりもリンク先からのアクセスの質が求められている</p>
  </div>