  <div class="span4">
    <%= render 'layouts/navbar' %>
  </div>
  <div class="span8">
  	<h1 id="web上で確認"><a name="web上で確認" href="#web上で確認"></a>Web上で確認</h1><hr class="page"><p>herokuをブラウザで開き、動作確認をします。</p><pre><code class="ruby hljs" data-origin="&lt;pre&gt;&lt;code class=&quot;ruby&quot;&gt;$ heroku open
&lt;/code&gt;&lt;/pre&gt;"><span class="hljs-variable">$ </span>heroku open
</code></pre><hr class="section"><p>※このようにファイルが見れるようになっていれば完了です</p><p><a href="http://se-lesson.herokuapp.com/b">侍エンジニア塾 Rails Demo</a></p><hr class="section">
  </div>