  <div class="span4">
    <%= render 'layouts/navbar' %>
  </div>
  <div class="span8">
  	<h1 id="mind"><a name="mind" href="#mind"></a>Mind</h1><hr class="page"><p>このセクションでは、サンプル制作を通して環境が整ったかの確認していただきます。</p><p>Railsのscaffoldコマンドを使用して簡単なページを生成し、【git】【Github】【heroku】のひと通りの流れができる環境に整ったかの確認をしてもらいながら、最終的にWeb上でサンプルが動くところまで実装していただきます。</p><p>そのためにこのセクションで意識しておきたいポイント</p><ul>
<li>プロジェクトの作成から公開までの一連の流れをつかむ</li>
</ul><p>それではサンプル制作をしていきましょう。</p>
  </div>