  <div class="span4">
    <%= render 'layouts/navbar' %>
  </div>
  <div class="span8">
  	<h1 id="WEBマーケコースの全体構成"><a name="WEBマーケコースの全体構成" href="#WEBマーケコースの全体構成"></a>WEBマーケコースの全体構成</h1><hr class="page">

	<h4 id="1.学習準備"><a name="1.学習準備" href="#1.学習準備"></a>1.学習準備</h4>
  	<p>所要時間： <strong>h</strong></p>
  	<!--ol>
      <li>侍エンジニア塾を受講するにあたって</li>
	  <li>Webの世界</li>
	  <li>プログラミング学習前の基礎知識</li>
	  <li>PCの環境を整える</li>
	  <li>githubの設定</li>
	  <li>herokuの設定</li>
	  <li>サンプル制作</li>
	</ol-->

	<h4 id="2.WEBマーケティング"><a name="2.WEBマーケティング" href="#2.WEBマーケティング"></a>2.WEBマーケティング</h4>
	<p>所要時間： <strong>h</strong></p>
	<!--ol>
      <li>プログラミング基礎</li>
	  <li>Ruby基礎</li>
	  <li>Ruby on Rails基礎</li>
    </ol-->

    <h4 id="3.WEB制作知識"><a name="3.WEB制作知識" href="#3.WEB制作知識"></a>3.WEB制作知識</h4>
    <p>所要時間： <strong>h</strong></p>

    <h4 id="4.営業・顧客獲得"><a name="4.営業・顧客獲得" href="#4.営業・顧客獲得"></a>4.営業・顧客獲得</h4>
    <p>所要時間： <strong>h</strong></p>

    <h4 id="5.LP企画・構成"><a name="5.LP企画・構成" href="#5.LP企画・構成"></a>5.LP企画・構成</h4>
    <p>所要時間： <strong>h</strong></p>

    <h4 id="6.WEBデザイン"><a name="6.WEBデザイン" href="#6.WEBデザイン"></a>6.WEBデザイン</h4>
    <p>所要時間： <strong>h</strong></p>

    <h4 id="7.コーティング"><a name="7.コーティング" href="#7.コーティング"></a>7.コーティング</h4>
    <p>所要時間： <strong>h</strong></p>

    <h4 id="8.wordpress"><a name="8.wordpress" href="#8.wordpress"></a>8.wordpress</h4>
    <p>所要時間： <strong>h</strong></p>

    <h4 id="9.仕事獲得術"><a name="9.仕事獲得術" href="#9.仕事獲得術"></a>9.仕事獲得術</h4>
    <p>所要時間： <strong>h</strong></p>

    <hr class="section">
    <h4 id="総学習時間"><a name="総学習時間" href="#総学習時間"></a>総学習時間</h4>
    <p><strong>200h</strong></p>

  </div>
