  <div class="span4">
    <%= render 'layouts/navbar' %>
  </div>
  <div class="span8">
  	<h1 id="侍エンジニア塾とは"><a name="侍エンジニア塾とは" href="#侍エンジニア塾とは"></a>侍エンジニア塾とは</h1><hr class="page"><p>侍エンジニア塾を立ち上げた当校代表の木内。<br>彼も元々フリーランスエンジニアで、学生時代に月50~100万円を稼ぐ生活をしていました。<br>月100時間ほど働き、あとは自由。<br>そんな自由が手に入るスキルをみんなに分かち合いたい。<br><strong>侍の刀のように、腕っぷしひとつで稼げる武器を持った人を育てたい。</strong><br>そんな思いからできたのがこの侍エンジニア塾。</p><p>卒塾生の中にはフィリピンのセブ島でフリーランスとして働きながら英語を学び、<br>事業をひとつ組み立てて帰ってくるなどの場所や時間にとらわれない<br>自由な生き方をしてる侍エンジニアもいます。</p><p>そんな侍エンジニアとしての考え方(Mind)、知識(Knowlegde)、技術(Skill)を<br>最高速度で身につけるためのカリキュラムを<br>これから手に入れる自由な生き方の入りとしてやっていきましょう。</p>
  </div>
