  <div class="span4">
    <%= render 'layouts/navbar' %>
  </div>
  <div class="span8">
    <h1 id="WEBマーケティングコースのゴール"><a name="WEBマーケティングコースのゴール" href="#WEBマーケティングコースのゴール"></a>WEBマーケティングコースのゴール</h1>
    <hr class="page">
    <p>
侍エンジニア塾のWEBマーケティングコースで目指すゴールは<b>「独立」</b>です。<br>
これは人によっては「起業」であったり、<br>
「フリーランス」であったりしますが、<br>
これらは独立によって得られる<b>「自由」</b>を意味します。<br><br>

社会人には4つのタイプがいます。<br>
「Employee…従業員」4000万人（正社員・パートタイム社員）<br>
「Self-Employed…個人事業主」600万人<br>
「Business Owner…ビジネスを持ってる人」100万人<br>
「Investor…投資家」<br><br>

多くの人は、一生「Employee」の道を選びます。<br>
もし、その道を続けるとしたら、<br>
どんなに頑張ってその企業の役員になっても、<br>
せいぜい年収1000万円程度の収入になるでしょう。<br><br>

しかし、「Self-Employed」や「Business Owner」<br>
になることで、自分で収入を決めることができます。<br><br>

金銭の自由、時間の自由、場所の自由・・・<br>
みなさんはどのような<b>「選択」</b>をしますか？<br><br>

今回、<b>『WEBマーケティング』</b>を学んでもらうことで、<br>
商品やサービスを自分で企画して、実際に売れるようになってもらいます。<br><br>

そして、「独立」「起業」する際に自分の手で<br>
マーケティングやディレクションを行い、<br>
たくさんの<b>感謝＝お金</b>を受け取ってください。<br><br>

このカリキュラムをスタートさせて2〜6ヶ月間、<br>
独立するために必要なマインド・スキルを磨いてもらいます。<br>
そして実践してもらいます。<br><br>

時には壁にぶつかる時もあるかもしれません。<br>
初心を忘れず、成長した自分をイメージしながら、進んでいきましょう。</p>
  </div>
