  <div class="span4">
    <%= render 'layouts/navbar' %>
  </div>
  <div class="span8">
  	<h1 id="WEBマーケコースの進め方"><a name="WEBマーケコースの進め方" href="#WEBマーケコースの進め方"></a>WEBマーケコースの進め方</h1><hr class="page">


  	<!-- WEBマーケコースの進め方 -->
  	<h3 id="marketing_proceed"><a name="marketing_proceed" href="#marketing_proceed"></a>進め方</h3>

  	<p>
	基本的な進め方としては、<br>
	・週1回程度のSkype、もしくは対面レッスン<br>
	・定期的なメッセージコンタクト<br>
	・課題の提出＆フィードバック<br>
	になります。<br><br>

	また、セクションによっては、<br>
	在宅で進めた方が早い部分（WEBマーケ知識）と、<br>
	対面で身につけてもらいたい部分（WEBデザイン・コーティング）など、<br>
	ふさわしい進め方があります。<br><br>

	具体的なスケジュールやレッスン方法は、<br>
	インストラクターと話し合いながら決めていきますが、<br>
	基本的にはカリキュラムを見ながら独学で学び、<br>
	課題にチャレンジして提出し、<br>
	フィードバックを得ながら、身につけていきましょう。
  	</p>

  	<hr class="underscore">
  	<hr>

  	<!-- カリキュラム説明 -->
  	<h3 id="manual_info"><a name="manual_info" href="#manual_info"></a>カリキュラムの説明</h3>

  	<h5 id="Mind"><a name="Mind" href="#Mind"></a>Mind</h5><p>基本的に全セクションの最初に置かれており、<br>
	各セクションでの注意事項や心がけたい考え方の指針が記載されています。<br>
	必ず《Mind》を熟読し、セクション終了後のゴールイメージをしながら、<br>
	カリキュラムを進めましょう。
	</p>

  	<hr class="underscore">

  	<h5 id="課題"><a name="課題" href="#課題"></a>課題</h5><p>
  	課題を行ったら、インストラクターに提出して、フィードバックを受けましょう。<br>
	WEBマーケコースのキモは、実践的な問題を解決できることです。<br>
	このカリキュラムでは課題がたくさんありますが、<br>
	量をこなし、WEBマーケティングのプロフェッショナルになりましょう。
  	</p>

  	<hr class="underscore">

  	<h5 id="マニュアル"><a name="マニュアル" href="#マニュアル"></a>マニュアル</h5><p>
	カリキュラムとは別に、深く理解してもらうための資料を用意しています。<br>
	カリキュラムを進めながら、必要に応じてマニュアルを確認しましょう。<br>
	また、モノによってはストーリー調になっているため、<br>
	電車での移動中などでも気軽に読めるようになっています。<br>
	場に応じて学習方法を変えて、効率良く学習を進めましょう。</p>
  </div>
