  <div class="span4">
    <%= render 'layouts/navbar' %>
  </div>
  <div class="span8">
  	<h1 id="侍カリキュラムの使い方"><a name="侍カリキュラムの使い方" href="#侍カリキュラムの使い方"></a>侍カリキュラムの使い方</h1><hr class="page"><h5 id="mind-考え方"><a name="mind-考え方" href="#mind-考え方"></a>Mind 考え方</h5><p>このMindマニュアルは、基本的に全セクションの最初に置かれており、<br>各セクションでの注意事項や心がけたい考え方の指針が記載されています。<br>セクションに入るとまずはこのマニュアルを読み、舵の取り方を把握してください。</p><hr class="underscore"><h5 id="指示書"><a name="指示書" href="#指示書"></a>指示書</h5><p>Mindマニュアル以下にあるマニュアルは、各セクションのやるべきこと、目標達成までの地図が書かれています。<br>これを参考に船を進めていき、環境の差によって生じるエラーなどはGoogleかインストラクターに頼りましょう。</p><hr class="underscore"><h5 id="リンク集"><a name="リンク集" href="#リンク集"></a>リンク集</h5><p>指示書の下には時折、様々なリンクが出現します。<br>これらは目標達成のためのヒントになるようなサイトのリンクになり、<br>皆様の手助けをしてくれますが、基本はマニュアルの通り進めていけば大丈夫です。</p>
  </div>
