  <div class="span4">
    <%= render 'layouts/navbar' %>
  </div>
  <div class="span8">
  	<h1 id="なぜWEBマーケティングなのか？"><a name="なぜWEBマーケティングなのか？" href="#なぜWEBマーケティングなのか？"></a>なぜWEBマーケティングなのか？</h1>
  	<hr class="page">
    <p>
    なぜ『WEBマーケティング』なのか？<br><br>

    商品やサービスを売るためには、<br>
    マーケティングを知る必要があります。<br><br>

    『WEBマーケティング』は、<br>
    1.コストが小さい<br>
    2.リーチが大きい<br>
    3.WEB上で完結できる<br><br>

    このようなメリットがあります。<br><br>

    もちろん、業種や商品によっては<br>
    リアルな営業や販売を行う必要もありますが、<br>
    基本的に、WEBを使って価値を提供することにより、<br>
    より多くの売上を上げることが出来ます。
    </p>

  	<!--h4 id="第一章-~-導入編-~"><a name="第一章-~-導入編-~" href="#第一章-~-導入編-~"></a>第一章  ~ 導入編 ~</h4>
  	<p>概算学習時間 <strong>6h</strong></p>
  	<ol>
      <li>侍エンジニア塾を受講するにあたって</li>
	  <li>Webの世界</li>
	  <li>プログラミング学習前の基礎知識</li>
	  <li>PCの環境を整える</li>
	  <li>githubの設定</li>
	  <li>herokuの設定</li>
	  <li>サンプル制作</li>
	</ol>
	<h4 id="第二章-~-基礎編-~"><a name="第二章-~-基礎編-~" href="#第二章-~-基礎編-~"></a>第二章  ~ 基礎編 ~</h4>
	<p>概算学習時間 <strong>77h</strong></p>
	<ol>
      <li>プログラミング基礎</li>
	  <li>Ruby基礎</li>
	  <li>Ruby on Rails基礎</li>
    </ol>
    <h4 id="第三章-~-応用編-~"><a name="第三章-~-応用編-~" href="#第三章-~-応用編-~"></a>第三章  ~ 応用編 ~</h4>
    <p>概算学習時間 <strong>40h</strong></p>
    <h4 id="第四章-~-実践編-~"><a name="第四章-~-実践編-~" href="#第四章-~-実践編-~"></a>第四章  ~ 実践編 ~</h4>
    <p>概算学習時間 <strong>130h</strong></p>
    <h4 id="第五章-~-独立編-~"><a name="第五章-~-独立編-~" href="#第五章-~-独立編-~"></a>第五章  ~ 独立編 ~</h4>
    <p>概算学習時間 <strong>15h</strong></p>
    <br>
    <h4 id="バグ改修時間"><a name="バグ改修時間" href="#バグ改修時間"></a>バグ改修時間</h4>
    <p><strong>30h</strong></p>
    <hr class="section">
    <h4 id="総学習時間"><a name="総学習時間" href="#総学習時間"></a>総学習時間</h4>
    <p><strong>298h</strong></p-->
  </div>
