  <div class="span4">
    <%= render 'layouts/navbar' %>
  </div>
  <div class="span8">
  	<h1 id="WEBマーケティングマスターになる契約"><a name="WEBマーケティングマスターになる契約" href="#WEBマーケティングマスターになる契約"></a>WEBマーケティングマスターになる契約</h1><hr class="page">


  	<p>最後に、自分がいつも使用するノートに、</p>

	<p><b>「私は『WEBマーケティング』をマスターします。」<br>
	「このカリキュラムを終えて、成功を手にします。」</b></p>
	<p>という契約をしましょう。<br><br>

	これは自分自身にする契約です。<br><br>

	以前にも話した通り、<br>
	今後の将来を<b>「選択」</b>するのは自分です。<br><br>

	自分で自分に成功する契約を結び、<br>
	幸せな人生を選択しましょう。</p>

	<hr>s
	<hr class="underscore">

	<h2>契約書</h2>
	<hr class="underscore">
	<p class="center">私はWEBマーケティングコースのカリキュラムを最後までやりとげ、<br>
	自分の商品やサービスを企画し、世界中の人々のもとへ届け、<br>
	たくさんの感謝とお金を手にすることを誓います。</p>
	<hr class="underscore">
	<p>　　　　　　　　年　　　月　　　日</p><br>
	<h3 class="center u-l">名前：　　　　　　　　　　　　　　　　　</h3>
	<hr class="underscore">
  </div>
