  <div class="span4">
    <%= render 'layouts/navbar' %>
  </div>
  <div class="span8">
  	<h1 id="進める上で必要なマインド"><a name="進める上で必要なマインド" href="#進める上で必要なマインド"></a>進める上で必要なマインド</h1><hr class="page">

    <p>これからWEBマーケティングコースを受ける上で、<br>
    絶対に必要なマインドをお教えします。<br><br>

    これは、『成功者』のマインドセットです。<br>
    このカリキュラムが終わったあと、独立してからも<br>
    必ず必要となるマインドがいくつか入ってます。<br><br>

    このマインドセットを手に入れて、<br>
    1歩ずつ進んでいきましょう。
    </p>

    <h2>サムライの心得！</h2>
    <p>1. WEBマーケコースをやりきったあとのイメージを持ち続けること</p>
    <p>2. 「気づき」はメモをして、インストラクターにシェアをしましょう</p>
  	<p>3. どれだけ時間がかかっても、焦らないようにしましょう。<br>　必ずやった分だけ返ってきます</p>
  	<p>4. 自分の成長を感じましょう。そしてこの環境に感謝しましょう</p>

  	<!--h5 id="mind-考え方"><a name="mind-考え方" href="#mind-考え方"></a>Mind 考え方</h5><p>このMindマニュアルは、基本的に全セクションの最初に置かれており、<br>各セクションでの注意事項や心がけたい考え方の指針が記載されています。<br>セクションに入るとまずはこのマニュアルを読み、舵の取り方を把握してください。</p><hr class="underscore">

  	<h5 id="指示書"><a name="指示書" href="#指示書"></a>指示書</h5><p>Mindマニュアル以下にあるマニュアルは、各セクションのやるべきこと、目標達成までの地図が書かれています。<br>これを参考に船を進めていき、環境の差によって生じるエラーなどはGoogleかインストラクターに頼りましょう。</p><hr class="underscore">

  	<h5 id="リンク集"><a name="リンク集" href="#リンク集"></a>リンク集</h5><p>指示書の下には時折、様々なリンクが出現します。<br>これらは目標達成のためのヒントになるようなサイトのリンクになり、<br>皆様の手助けをしてくれますが、基本はマニュアルの通り進めていけば大丈夫です。</p-->
  </div>
