  <div class="span4">
    <%= render 'layouts/navbar' %>
  </div>
  <div class="span8">
  	<h1 id="侍エンジニア塾とは"><a name="侍エンジニア塾とは" href="#侍エンジニア塾とは"></a>侍エンジニア塾とは</h1>
  	<hr class="page">

  	<p>侍エンジニア塾は元々フリーランスエンジニアであった<br>
当校代表の木内が立ち上げた、自己実現のためのスクールです。<br><br>

侍エンジニア塾を立ち上げたきっかけは、<br>
フリーランスエンジニアとして月50〜100万円を稼ぐ生活をしていた木内が、<br>
自分と同じように、自由が手に入るスキルをみんなに分かち合いたい。<br>
『侍の刀のように、腕っぷしひとつで稼げる武器を持った人を育てたい。』<br>
そんな思いからこの侍エンジニア塾を立ち上げました。<br><br>

現在は最短3ヶ月でWEBサービスを開発して、仕事を獲得できるようになる<br>
『プログラミングマンツーマンコース』<br>
1ヶ月の集中講義でモバイルアプリケーションを開発する<br>
『スピードコース』<br>
WEBのあらゆる知識を身につけ、<br>
WEB制作や売上アップのマーケティングを実践的に学ぶ<br>
『WEBマーケティングコース』<br><br>

この3つのコースから成り立っています。<br><br>

卒塾生の中にはフィリピンのセブ島でフリーランスとして働きながら英語を学び、<br>
事業をひとつ組み立てて帰ってくるなどの場所や時間にとらわれない<br>
自由な生き方をしてる侍エンジニアもいます。<br>
そんな侍エンジニアとしての考え方(Mind)、知識(Knowlegde)、技術(Skill)を<br>
最高速度で身につけるためのカリキュラムを<br>
これから手に入れる自由な生き方の入りとしてやっていきましょう。</p>
  </div>
