  <div class="span4">
    <%= render 'layouts/navbar5' %>
  </div>
  <div class="span8">
  	<h1 id="具体的にする"><a name="具体的にする" href="#具体的にする"></a>具体的にする</h1>

  	<hr class="page">

  	<p>マーケティング・ビジネスにおいて、あいまいは悪です。<br>
	具体的な言葉にすればするほど、<br>
	あなたの思考も成功に向かいます。<br>
	そして多くの人に想いが伝わります。<br><br>

	多くの人は具体的じゃないから<br>
	その内容が伝わらないんです。<br><br>

	あいまいな言葉を使っていると、<br>
	人間の脳はなかなかイメージできないのです。<br><br>

	これはコピーライティングだけではなく、<br>
	日常的な質問も、あいまいではなくて、<br>
	具体的にするように癖がつくと人生が変わります。<br><br>


	「どうすればお金持ちになりますか?」<br>
	そんな質問をされてもあいまいな答えしかでません。<br>

	でも、<br>
	「あなたが資産0円からWEBサービスを立ち上げ、<br>
	どうやって1000万円を作りますか?」<br>
	こんな質問だったら、どうでしょう?<br><br>

	こんなタイトルの本も流行りましたね。<br>
	「学年でビリだったギャルが、<br>
	1年で偏差値を40あげて日本でトップの私立大学、<br>
	慶應大学に現役で合格した話」<br><br>

	読みたくなりますよね。<br></p>

	<hr class="underscore">

	<p>では、具体的にする基本のお話です。<br><br>

	1. 5W1Hを使う<br>
	what(何が、何を)<br>
	where(何処が、何処で、何処を)<br>
	why(何故、何のため)<br>
	who(誰が、誰に、誰を)<br>
	when(何時、何時まで)<br>
	How(どんな方法で、費用はいくら)など<br><br>

	2. 数字を使う<br>
	「売上160%アップ！」「93％が実感！」<br>
	「送料0円！」「20%増量！」<br><br>

	3.第3者が見ても分かる内容にする<br>
	質問をするときのポイント<br><br>

	・ステップ1：現状を話す。<br>
	「いま、新しい人材サービスを始めたのですが、」<br>
	・ステップ2：あなたの目標を話す。<br>
	「登録者数を1000人まで増やしたいです。」<br>
	・ステップ3：問題点を話す。<br>
	「しかし、具体的な方法が分からないのでを教えてほしいです。」<br><br>

	読み手の知識や環境で受け取り方はかわります。<br>
	アザラシを見て日本人は何も思わないけど、<br>
	エスキモーが見たら、「ご飯だ!」と思う。<br><br>

	あいまいな思考、あいまいなしゃべり方、<br>
	これをなくすだけで、みんながイメージしやすい。<br>
	どんどん具体的にするようにしましょう。 </p>

  </div>