  <div class="span4">
    <%= render 'layouts/navbar5' %>
  </div>
  <div class="span8">
  	<h1 id="mind"><a name="mind" href="#mind"></a>Mind</h1>

  	<hr class="page">

  	<h4>コピーライティングとは？</h4>
  	<p>
	まずは、有名な見出しのコピーライティングを見てみましょう。</p>

	<p>「そうだ、京都へ行こう」<br>
	<%= image_tag"5_3_01.jpg", :alt => "そうだ、京都へ行こう", :width => "400px" %></p>

	<p>「NO MUSIC NO LIFE」<br>
	<%= image_tag"5_3_02.jpg", :alt => "NO MUSIC NO LIFE", :width => "200px" %></p>

	<p>このようなモノも『コピーライティング』です。<br><br>

	『コピーライティング』とは、「言葉の魔法」「言葉の力」と言えます。<br>
	文章を駆使して、読み手の感情に訴え、<br>
	「実際に行動してもらうこと」を目的としています。<br><br>

	例えば、ポスターやCMのキャッチコピーは、<br>
	数秒という接触時間の中で「いかにインパクトを残せるか」<br>
	がカギになっています。<br><br>

	WEBサイトやLPの場合は、<br>
	メインビジュアルと言われるページを開いたときに<br>
	表示される部分で、「その後も読みたくなる」を作り、<br>
	続きの文章にて「行動をおこす」ためのコピーライティングをします。</p>

	<hr class="underscore">

	<h4>これが出来るとどうなるのか？</h4>
	<p>収入の桁が1つ増えると言っても過言ではありません。<br><br>

	好きな人に対してアプローチをするとき、<br>
	「どうやってデートに誘おうかな」と悩むと思います。<br>
	文章を考えて、メールで送り、行動してもらう。<br>
	これも立派なコピーライティングです。<br><br>

	Facebookでたくさんの「いいね」をもらいたい。<br>
	単純に言えば、いいねの数だけその人は信頼されていたり、<br>
	有名であったりします。<br><br>

	もし、そういう状態で集客や販促を行えば、<br>
	上手くいきそうじゃないでしょうか？<br><br>

	「いいね」を押してもらうには、人が共感できる記事、<br>
	すなわち魅力ある文章を書く必要があります。<br>
	コピーライティングの能力があれば、<br>
	簡単に「いいね」をもらえるのです。<br><br>

	今までの例と同様に、<br>
	魅力あるコピーを書くことで、WEB上でも<br>
	商品を魅力的なモノに見せることが出来るのです。<br><br>

	魅力的な商品には購買意欲が出てきます。<br>
	大げさでなく、売上が10倍アップということもありえるでしょう。<br><br>

	今回は、LPを作る上で必要な要素について学んでいきます。<br>
	とはいえ、次の内容を覚えるだけで、<br>
	これからの文章が様変わりします。<br><br>

	ぜひ、各セクションで学んだことを<br>
	実際に手を動かしてアウトプットしてみましょう。<br><br>

	それでは、コピーライティングについて学んでいきます。</p>
  </div>