  <div class="span4">
    <%= render 'layouts/navbar5' %>
  </div>
  <div class="span8">
  	<h1 id="課題"><a name="課題" href="#課題"></a>課題</h1>

  	<hr class="page">

  	<p>課題：今回は5-3-3で学んだ、<br>
	「トリガーワード」を50個考えてみましょう。<br><br>

	※evernoteやテキストファイルにて提出しましょう<br>

	トリガーワードは多ければ多いほど、<br>
	より人を惹き付ける引き出しが多いことになります。<br><br>

	移動中の電車の中にある広告<br>
	デパートのポスター<br>
	レストランのメニュー<br>
	新聞に入ってるチラシ<br><br>

	生活の至る所にトリガーワードが隠されていますので、<br>
	いいなと思ったらメモしてみましょう。</p>

	<hr>

	<p>今回はコピーライティングの基礎というコトで、<br>
	LPを作る上で必要な要素を学んできました。<br><br>

	しかし、コピーライティングはまだまだ奥が深いです。<br><br>

	もっと知識を得て、魅力的な文章を書きたいという方は、<br>
	以下のサイトを参考にすると良いでしょう。<br>
	<%= link_to "バズ部", "http://bazubu.com/copywriting101" %><br><br>

	※なお、あまり知識を入れすぎると乱雑な文章になってしまうので、<br>
	コピーの手法は適度に導入しましょう。</p>

  	<!--p>仕事を獲得するためのスキームとして、下記の流れがあります。</p><ol>
<li>実績作り</li>
<li>職歴をまとめる</li>
<li>ポートフォリオ製作</li>
<li>やりたい仕事を明確にする</li>
<li>求人募集を探す</li>
<li>仕事を獲得する</li>
</ol><p>このスキームを順にこなしていき、仕事獲得の準備をします。</p><hr class="underscore"><h4 id="1.-実績作り"><a name="1.-実績作り" href="#1.-実績作り"></a>1. 実績作り</h4><p>今までドットインストールやRuby on Rails Tutorialで制作したサンプルや、開発したWEBサービス、開発まではいかないまでも、フレームを作った方はそれも実績にしましょう。こちらでも使える実績を提供できるかもしれません。手をつけたモノは全て実績として残しましょう。</p><h4 id="2.-職歴をまとめる"><a name="2.-職歴をまとめる" href="#2.-職歴をまとめる"></a>2. 職歴をまとめる</h4><p>ここでは今までの職歴もまとめておきましょう。IT関係・WEB制作などと縛る必要はありません。ベンチャー企業や少人数で運営する企業&amp;チームの場合、様々なスキルを持つ人財が重宝されます。ぜひ、包み隠さずできることをまとめましょう。</p><h4 id="3.-ポートフォリオ制作"><a name="3.-ポートフォリオ制作" href="#3.-ポートフォリオ制作"></a>3. ポートフォリオ制作</h4><p>実績作りをした後は、作ったモノを簡単に見れるポートフォリオがあると良いです。<br>ポートフォリオとは、作品集などといった意味を持つ英語で、創ったり関わったりしたプロダクト、サービス、アプリ、サイト、githubのリポジトリ、まとめブログなどなどを集めて自分のスキルをわかりやすく紹介します。</p><p>そしてこのポートフォリオ制作に特化したサービスも近年増えてきていて、スピーディーに魅力的なポートフォリオを作ることができるようになってきています。</p><p>例えば<a href="https://forkwell.com/">forkwell</a>というサービス。<br>このサービスは自分の制作物をアップすることができポートフォリオを作れる。<br>更に自分のアカウントにスキルのタグをつけていき、そのタグで評価をしたり仕事が検索できるといった機能を持ったサービスで、Rubyを作ったまつもとゆきひろ氏も参加している。</p><p><a href="https://forkwell.com/u/shinyahirai">forkwellデモ</a></p><p>この他にも<a href="https://carbonmade.com/">carbonmade</a>や<a href="https://www.strikingly.com/">Striking.ly</a>、<a href="https://hat.io/">hat.io</a>などといったサービスも有名で、自分の作品たちとの雰囲気や相性を見て使うサービスを決めるといいかもしれません。</p><p>そしてもうひとつの手段として、ポートフォリオサイトを自分のプログラミングの力ですべて制作することです。<br>自分のポートフォリオサイトを作る過程で学べることもあります。<br>しかもそのポートフォリオサイトもまたひとつの作品になります。</p><p>どちらの方法でもポートフォリオ制作の際に情報をググって集めたり、下記のようなサイトを見てヒントを得たりイメージを膨らませてみてください。<br><a href="http://www.nnmal.com/2012/10/40-japanese-creator-portfolio-sites/">参考にしたい日本人クリエイターのポートフォリオサイト 40</a></p><h4 id="4.-やりたい仕事を明確にする"><a name="4.-やりたい仕事を明確にする" href="#4.-やりたい仕事を明確にする"></a>4. やりたい仕事を明確にする</h4><p>ここが一番重要な作業になります。<br>やりたい仕事や将来のイメージが明確でないと、結局仕事のために過ごす人生を送ってしまいます。<br>『仕事を選ぶのは自分だ』というくらいの感覚で、『どういう働き方がしたいか?』『スキルを身につけたいか?』を明確にしましょう。</p><p>この部分が不明瞭な方は、再度セルフコーチングワークをやりましょう。<br>「なりたい姿」「在り方」「欲しいもの」を10個以上書き出し、3年後・1年後・半年後程度に落とし込みます。</p><h4 id="5.-求人募集を探す"><a name="5.-求人募集を探す" href="#5.-求人募集を探す"></a>5. 求人募集を探す</h4><p>仕事と一言にいっても、以下のように種類は多岐にわたります。<br><%= image_tag"5_2_001.png", :alt => "仕事" %><br>自分の希望に合わせた働き方を選択しましょう。</p><p>そして、仕事を探す方法は以下の6パターンがあります。<br><%= image_tag"5_2_002.png", :alt => "方法" %></p><p>この中でも特に「ソーシャル求人サービス」と「クラウドソーシングサービス」は<br>初心者プログラマでも仕事を見つけやすく、経験を積み技術力を磨くために相性が良いので<br>こういったサービスを使ったお仕事探しを推奨します。</p><hr class="section"><p>ソーシャル求人サービス<br>このサービスは無料型の求人サービスで特にスタートアップベンチャーなどが多く登録しています。<br>求める人材のレベルも高くないので、初心者プログラマでも仕事を見つけやすいです。<br>また、サービスや理念への共感ベースで選べるので、自分が関わりたい仕事に関わることができます。</p><p>Wantedly<br><a href="https://www.wantedly.com/">https://www.wantedly.com/</a></p><p>WishScope<br><a href="http://www.wishscope.com/jobs/">http://www.wishscope.com/jobs/</a></p><p>また、『wishscope』ではコチラから 「HPを作ります」や「Rubyのお仕事承ります」 といった提案もできるので、使えるモノは使っていきましょう。</p><p>【wishscopeの参考例】<br>「あなたのHPを作らせてください!」 フリーランスとして活動していくため、実績作りをしています。 そのため、格安にてあなたのHPを作らせて頂きたいです。</p><hr class="section"><p>クラウドソーシングサービス<br>クラウドソーシングとは、案件ベースで依頼者と開発者をWeb上でつなぐサービスです。<br>案件の内容と、報酬内容、契約内容などを読んで、気に入ったものに立候補すます。<br>その後、依頼者が立候補した開発者の中から気に入った方を選び、契約を行う仕組みです。</p><p>クラウドワークス<br><a href="https://crowdworks.jp">https://crowdworks.jp</a></p><p>ランサーズ<br><a href="http://www.lancers.jp/">http://www.lancers.jp/</a></p><p>【クラウドソーシング案件の例】<br>・企業サイト修正(HTML)<br><a href="http://www.lancers.jp/work/detail/342888">http://www.lancers.jp/work/detail/342888</a><br>・下層ページコーディング<br><a href="http://www.lancers.jp/work/detail/341612">http://www.lancers.jp/work/detail/341612</a> ・【急募】ブログシステム構築案件!Ruby on Railsエンジニアを大募集!! <a href="http://www.lancers.jp/work/detail/332641">http://www.lancers.jp/work/detail/332641</a><br>・wp 制作中サイトの修正依頼 <a href="http://www.lancers.jp/work/detail/336019">http://www.lancers.jp/work/detail/336019</a><br>(2014/5/26時点)</p><p>上記は日本人向けのサイトになっています。<br>もし英語もできてもっと世界で活躍していきたい！というような方がいれば、<br>Freelancer.comをおすすめします。<br>このサイトは世界で一番大きなクラウドソーシングサービスで、世界中の案件が<br>あり、世界中のプログラマが登録しています。<br>もちろん言語は英語が基本ですが、プログラミングスキルと英語スキルを上達させ、<br>世界のプログラマと張り合ってみるものおもしろいかもしれません。</p><p>Freelancer.com<br><a href="https://www.freelancer.com/">https://www.freelancer.com/</a></p><p>そして、どの仕事にしても経験を積み、信用を積めば、必ずより良い仕事が待っています。<br>最初はあまり条件にこだわらず、仕事内容や、人で選びましょう。</p><h4 id="6.-仕事を獲得する"><a name="6.-仕事を獲得する" href="#6.-仕事を獲得する"></a>6. 仕事を獲得する</h4><p>この部分は獲得方法によって内容は変わります。<br>今回は企業のプロジェクトにコミットする形で考えていきます。</p><p>【仕事案件例】<br>◆株式会社トーモ/クリエイティブ<br><a href="http://hitch.jp/job/2719">http://hitch.jp/job/2719</a><br>◆株式会社ボンマルシェ<br><a href="http://hitch.jp/job/2715">http://hitch.jp/job/2715</a><br>◆Grow<br><a href="http://hitch.jp/job/1110">http://hitch.jp/job/1110</a><br>◆beststyleme<br><a href="http://hitch.jp/job/1018">http://hitch.jp/job/1018</a><br>◆ディースタンダード株式会社<br><a href="http://hitch.jp/job/2733">http://hitch.jp/job/2733</a></p><p>以上の募集は『Hitch』のものですが、このようにスキルや経験がない人でも応募できる求人はあります。</p><p>候補は3~5つくらいが良いでしょう。そこで更に順位をつけて、まずは面談を受けにいきましょう。</p><p>ベンチャー企業などの面談は<br>・今までどんなことをやってきたか<br>・実績の確認<br>・趣味や世間話<br>といった具合に結構ゆるい感じで進みます。志やフィーリングがかなり重視されるので、実績があまりない人はお断りされるよりも『インターンから始めてみませんか?』などの提案が多いです。</p><p>それでもお金をもらいながら、更にWEBの知識がつくのでまずはインターンから始めてみるコトもお勧めします。</p><hr class="underscore"><p>《フリーランスエンジニアの参考資料》<br>◆本<br>『「やりたい仕事」で稼ぎ続ける! フリーランスの仕事術』<br><a href="http://www.amazon.co.jp/dp/4495524712">http://www.amazon.co.jp/dp/4495524712</a></p><p>◆WEB記事 フリーランスができる営業の仕事と獲得できる仕事とは?<br><a href="http://u-note.me/note/47490232">http://u-note.me/note/47490232</a></p><p>《実績の提案(使える実績)》<br>※この部分は場当たり的な提案になるため、面談の際にお話します。</p-->
  </div>