  <div class="span4">
    <%= render 'layouts/navbar4' %>
  </div>
  <div class="span8">
  	<h1 id="WEBプログラマー"><a name="WEBプログラマー" href="#WEBプログラマー"></a>WEBプログラマー</h1>

  	<hr class="page">

  	<p>	サイトの「機能」「システム」を開発する人です。<br>
	WEB制作においては技術のスペシャリストです。<br><br>

	基本的にはPHPやRuby、Perlといった言語を使いこなし、<br>
	会員機能や投稿機能や様々な動的部分を実装します。<br><br>

	またWEBサーバーやデータベースといった<br>
	裏側の幅広い知識が求められるため、需要が高く、<br>
	報酬も他の職種に比べて高額になります。<br><br>

	侍エンジニア塾のプログラミングコースでは、<br>
	独立したプログラマーを育てています。<br><br>

	必要なスキル<br>
	・コミュニケーション<br>
	・コーディング<br>
	・プログラミング<br>
	・データベース<br>
	・システム設計</p>

  	<!--p>プロジェクト名称をつけサイト定義書（プロジェクト定義書）を作成していきます。</p><p>サイト定義書はコンセプトを書式にまとめた資料になります。</p><hr class="section"><h4 id="プロジェクト名"><a name="プロジェクト名" href="#プロジェクト名"></a>プロジェクト名</h4><h4 id="コンセプト"><a name="コンセプト" href="#コンセプト"></a>コンセプト</h4><h4 id="誰に（ターゲット）"><a name="誰に（ターゲット）" href="#誰に（ターゲット）"></a>誰に（ターゲット）</h4><h4 id="届けたいもの（サービス）"><a name="届けたいもの（サービス）" href="#届けたいもの（サービス）"></a>届けたいもの（サービス）</h4><h4 id="根拠（裏付け）"><a name="根拠（裏付け）" href="#根拠（裏付け）"></a>根拠（裏付け）</h4><hr class="section"><p>以下の書式を参考にサイト定義をまとめてみましょう。</p-->
  </div>