  <div class="span4">
    <%= render 'layouts/navbar4' %>
  </div>
  <div class="span8">
  	<h1 id="作りたいwebサービスを考える"><a name="作りたいwebサービスを考える" href="#作りたいwebサービスを考える"></a>作りたいWebサービスを考える</h1><hr class="page"><p>作りたいWebサービスを明確にし<strong>【目的】</strong>を設定しなければそれを解決する仕組みやアイデアを具体化することは困難です。</p><p>逆に<strong>【目的】</strong>を明確に設定すれば具体的な問題解決へのアイデアが見つけやすくなりますし、脳が無意識のときでも解決策、アイデアを探してくれます。</p><p><strong>【目的】</strong>を設定してさまざまな情報に触れるとこれが欲しいという気持ちからアイデアが生まれます。</p><h3 id="webサービスの目的を設定する"><a name="webサービスの目的を設定する" href="#webサービスの目的を設定する"></a>Webサービスの目的を設定する</h3><p>目標、目的設定</p><ul>
<li>作りたいもの、解決したいことを10個書き出す。</li>
<li>似ているものをまとめる</li>
<li>その中から作りたいWebサービスを1つに絞る</li>
</ul><p>作りたいWebサービスが何もなければ悩みや普段の生活で不便だと思っていることを考えて見ましょう。</p><p>自分自身が今悩んでいることでも構いません。</p><h3 id="悩みについて"><a name="悩みについて" href="#悩みについて"></a>悩みについて</h3><p>悩みを解消する方法を考える</p><h4 id="【人間関係】"><a name="【人間関係】" href="#【人間関係】"></a>【人間関係】</h4><p>恋愛、家族、友人、上司、部下の関係</p><h4 id="【金銭】"><a name="【金銭】" href="#【金銭】"></a>【金銭】</h4><p>借金、低収入、浪費、貯蓄がない</p><h4 id="【健康】"><a name="【健康】" href="#【健康】"></a>【健康】</h4><p>病気、痛み、コンプレックス</p><h4 id="【将来】"><a name="【将来】" href="#【将来】"></a>【将来】</h4><p>加齢、仕事、結婚</p><p>創りたいものを絞ったら次ぎにアイデアを練っていきます。</p><hr class="section">
  </div>