  <div class="span4">
    <%= render 'layouts/navbar4' %>
  </div>
  <div class="span8">
  	<h1 id="mind"><a name="mind" href="#mind"></a>Mind</h1>

  	<hr class="page">

  	<p>	WEB制作セクションでは、<br>
	実際の制作過程で必要な職種や、金額、制作スケジュールなど、<br>
	WEBサイトを作成する立場だけではなく、<br>
	経営の立場から委託する際にも「売れるHP」を作ってもらうために、<br>
	知っておきたい知識を学びましょう。<br><br>

	今回、WEBマーケティングコースにおけるWEB制作のゴールは<br>
	「ディレクション」を出来るコトに重きを置いています。<br><br>

	フリーランスとして独立したい人の場合、<br>
	1人で作業できる量は限られてしまいます。<br>
	ただただ、下請けとして朝から晩まで納期に追われ無いよう、<br>
	ある程度の案件が来たら「アウトソーシング」出来るようにしましょう。<br><br>

	またマーケター・マネージャーの立場からした場合、<br>
	WEB制作者に対して、適切な知識で具体的な内容を伝え、<br>
	ミスマッチの無いWEBサイトを作ることが出来るようになります。<br><br>

	そして、必要な人数や工数を把握できることによって、<br>
	無駄な経費を抑えることにも繋がります。<br><br>

	ぜひ、自分で作ることだけではなく、<br>
	WEB制作において「リーダーシップ」をとれる人財になりましょう。<br><br>

	それでは、WEB制作について学んでいきます。</p>
  </div>