  <div class="span4">
    <%= render 'layouts/navbar4' %>
  </div>
  <div class="span8">
  	<h1 id="mind"><a name="mind" href="#mind"></a>Mind</h1><hr class="page"><p>このセクションでは、Webサービスのアイデアを練り、コンセプトを設定していただきます。</p><p>Webサービスを開発するには、創りたいものが曖昧であったり、どのような機能がありどのような動きをするのかまで具体化しなければ、システムとして設計することができません。</p><p>また開発後、多くの人にサービスを使っていただくためには、どのようなWebサービスなのかを簡潔に伝えることが重要です。</p><p>開発を効率的に行い、一貫性を持ってやり遂げるためにも、明確なサービスの定義をする必要があります。どのようなWebサービスなのかが曖昧なまま制作をすすめてしまうと思わぬ方向に脱線したり、何か困難なことが出てきたときにモチベーションを維持していくのも難しくなります。<br>まずはどのようなWebサービスであるのかをしっかりと考えていきましょう。</p><p>このセクションで意識しておきたいポイント</p><ul>
<li>開発するWebサービスが誰にでもわかるよう、簡潔に説明できるようにする</li>
<li>どんなユーザーにどのように使ってもらえるかを意識する</li>
<li>方向性が違っていないか、目的通りの進行ができているかを都度確認するために開発完了までの指針をつくる</li>
</ul><p>それでは実際にアイデア、コンセプト設計をしていきましょう。</p>
  </div>