  <div class="span4">
    <%= render 'layouts/navbar4' %>
  </div>
  <div class="span8">
  	<h1 id="WEBディレクター"><a name="WEBディレクター" href="#WEBディレクター"></a>WEBディレクター</h1>

  	<hr class="page">

  	<p>WEB制作の仕切り屋。現場監督です。<br>
	クライアントとの打ち合わせを行い、<br>
	案件に対して人員（WEBデザイナー、コーダー、プログラマー）の配分や、<br>
	スケジュールの調整を行います。<br><br>

	予算の管理や、制作に遅れがでないようなコントロール等、<br>
	チーム全体がうまく機能するためのマネジメント能力が重要になります。<br><br>

	必要なスキル<br>
	・コミュニケーション<br>
	・プレゼンテーション<br>
	・企画・演出力<br>
	・Web制作知識<br>
	・プロジェクトマネジメント</p>

  	<!--p>目的の設定が終わったらその問題を解決するアイデアを考えます。</p><h4 id="参考書籍"><a name="参考書籍" href="#参考書籍"></a>参考書籍</h4><p>アイデアの作り方<br>ジェームズ・W・ヤング</p><p>アイデアは既存の要素の新しい組み合わせ以外なにものでもない。<br>すでにあるものを使って今までにない組み合わせを作ること。</p><hr class="section"><h3 id="さまざまな情報に触れる"><a name="さまざまな情報に触れる" href="#さまざまな情報に触れる"></a>さまざまな情報に触れる</h3><p>新聞、テレビ、日々の生活の中でWebサービスの目的に生かせる情報がないかを意識して生かせそうな情報があればメモを取っておきましょう。</p><p>今まで出たアイデアに対して再度発想をしてみましょう。<br>発想ツールを利用をすることも有効です。</p><h4 id="参考サイト"><a name="参考サイト" href="#参考サイト"></a>参考サイト</h4><p>本当に使える最強のアイデア発想法［ツール］<br><a href="http://matome.naver.jp/odai/2132704720441561201">http://matome.naver.jp/odai/2132704720441561201</a></p><p>参考までにオズボーンのチェックリストを記載しておきます。</p><h3 id="オズボーンのチェックリスト"><a name="オズボーンのチェックリスト" href="#オズボーンのチェックリスト"></a>オズボーンのチェックリスト</h3><h4 id="１．転用"><a name="１．転用" href="#１．転用"></a>１．転用</h4><p>他に使い道はないか？<br>今のままで新しい用途はないか？<br>少し変えて他の利用法はないか？</p><h4 id="２．応用"><a name="２．応用" href="#２．応用"></a>２．応用</h4><p>他からアイデアが借りられないか？<br>他業種、別分野で似たものはないか？<br>過去に似たものはないか？<br>真似はできないか？</p><h4 id="３．変更"><a name="３．変更" href="#３．変更"></a>３．変更</h4><p>変えたらどうなるか？<br>意味、色、動き、音、臭い、形、型、包装など。</p><h4 id="４．拡大"><a name="４．拡大" href="#４．拡大"></a>４．拡大</h4><p>大きくしてみたらどうか？<br>何か増やせないか？</p><h5 id="＜機能的な拡大＞"><a name="＜機能的な拡大＞" href="#＜機能的な拡大＞"></a>＜機能的な拡大＞</h5><p>大きさ、長さ、高さ、重さ、時間、面積、回数、強度、材料、範囲、濃度、成分、機能など。</p><h5 id="＜概念的な拡大＞"><a name="＜概念的な拡大＞" href="#＜概念的な拡大＞"></a>＜概念的な拡大＞</h5><p>地域、ターゲット、意味合い、価値、場所、目的</p><h4 id="５．縮小"><a name="５．縮小" href="#５．縮小"></a>５．縮小</h4><p>小さくしてみたらどうか？<br>何か減らせないか？<br>シンプルにできないか？</p><h5 id="＜機能的な縮小＞"><a name="＜機能的な縮小＞" href="#＜機能的な縮小＞"></a>＜機能的な縮小＞</h5><p>大きさ、長さ、高さ、重さ、時間、面積、回数、強度、材料、範囲、濃度、成分、機能など。</p><h5 id="＜概念的な縮小＞"><a name="＜概念的な縮小＞" href="#＜概念的な縮小＞"></a>＜概念的な縮小＞</h5><p>地域、ターゲット、意味合い、価値、場所、目的</p><h4 id="６．代用"><a name="６．代用" href="#６．代用"></a>６．代用</h4><p>他のモノで代用できないか？<br>人、物、材料、場所、素材、製法、マニュアル</p><h4 id="７．置換"><a name="７．置換" href="#７．置換"></a>７．置換</h4><p>入れ替えてみたらどうか？<br>順番、配置、位置、時間、パターン、レイアウト、やり方、結果と原因</p><h4 id="８．逆転"><a name="８．逆転" href="#８．逆転"></a>８．逆転</h4><p>逆にしてみたらどうか？<br>上下、左右、前後、プラスマイナス、順番、役割、立場、やり方、客観・主観、売り手・買い手、肯定・否定</p><hr class="section"><p>以上の工程が終わったらアイデアを箇条書きにしてみます。</p-->
  </div>