  <div class="span4">
    <%= render 'layouts/navbar4' %>
  </div>
  <div class="span8">
  	<h1 id="WEBデザイナー"><a name="WEBデザイナー" href="#WEBデザイナー"></a>WEBデザイナー</h1>

  	<hr class="page">

  	<p>WEBサイトのデザインを作る人。サイトのデザインを考え、<br>
	レイアウトを作成し、実際のページと同様のレベルまでデザインを起こします。<br>
	また、人によってはhtmlマークアップまで行う人も入れば、<br>
	素材制作など小さなWEB素材を作成する人も<br>
	「WEBデザイナー」といわれ、大きくくくられます。<br><br>

	また、デザインしたWEBサイトを訪問するユーザーのことも考え、<br>
	使いやすさ、見やすさなども配慮する必要があります。<br><br>

	自分好みのデザインではなく、クライアントやユーザーのことを考えた<br>
	デザインができるかどうかが重要です。<br><br>

	必要なスキル<br>
	・コミュニケーション<br>
	・デザイン<br>
	・情報設計<br>
	・コーディング</p>

  	<!--p>何を作るかを明確にし、実現するアイデアをまとめ<br>それをひとことであらわしたものがコンセプトです。</p><hr class="section"><p>【このサービスは、●●である】と表してみます。</p><hr class="section"><p>セクション2でまとめたアイデアをひとことで表してみましょう。<br>またこのセクションのコンセプトの出し方も参考にしてみてください。</p><p>コンセプトが決まったら下記3点を考えてみましょう。</p><ol>
<li>誰に（ターゲット）</li>
<li>届けたいもの（サービス）</li>
<li>根拠（裏付け）</li>
</ol><hr class="section"><p>ここで設定したコンセプトがぶれることがないように<br>作りたいWebサービスを設計していきます。</p><hr class="section"><h2 id="コンセプトの出し方"><a name="コンセプトの出し方" href="#コンセプトの出し方"></a>コンセプトの出し方</h2><p>「5W1H」で考えてみる</p><h4 id="what"><a name="what" href="#what"></a>What</h4><p>サイトの目的や意義は何？</p><h4 id="who"><a name="who" href="#who"></a>Who</h4><p>誰がサイトを利用する？<br>※代表的なのはペルソナ設定です。<br>・氏名<br>・年齢<br>・性別<br>・職業<br>・家族構成<br>・趣味<br>・よく読む新聞や雑誌<br>・インターネット歴<br>・パソコン/ネット接続環境</p><h4 id="when"><a name="when" href="#when"></a>When</h4><p>・いつサイトを使うのか？<br>・時間帯<br>・曜日<br>・シーズン<br>・シチュエーション</p><h4 id="where"><a name="where" href="#where"></a>Where</h4><p>どんな環境で利用するか？<br>・接続環境（PC、スマホ、モバイル）<br>・ブラウザの種類<br>・画面解像度<br>・場所</p><h4 id="why"><a name="why" href="#why"></a>Why</h4><p>なぜ利用するのか？利便性？</p><h4 id="how"><a name="how" href="#how"></a>How</h4><p>どのように利用するのか？</p-->
  </div>