  <div class="span4">
    <%= render 'layouts/navbar4' %>
  </div>
  <div class="span8">
  	<h1 id="どんな人がいるのか？"><a name="どんな人がいるのか？" href="#どんな人がいるのか？"></a>どんな人がいるのか？</h1>

  	<hr class="page">

  	<p>基本的にはこの4つの職種によってWEB制作が行われています。<br><br>

	・WEBディレクター<br>
	・WEBデザイナー<br>
	・コーダー<br>
	・プログラマー<br><br>

	大企業やお役所のHPなど大型案件になってくると、<br>
	「WEBプランナー」などの職種の人も現れます。<br>
	この多くは、広告代理店の人が行ったりもします。<br><br>

	フリーランスになると、ディレクションをやりながら、<br>
	WEBデザインとコーディング、時にはプログラミングを行うこともあります。<br><br>

	各職種の詳しい作業内容や必要なスキルについては、<br>
	職種ごとの項目を確認しましょう。</p>
  </div>