  <div class="span4">
    <%= render 'layouts/navbar3' %>
  </div>
  <div class="span8">
  	  <h1 id="mind"><a name="mind" href="#mind"></a>Mind</h1><hr class="page"><p>これから、『お問い合わせフォーム』を設置しましょう。</p><p>「お問い合わせフォーム」の設置を一通り行うと、<br>カラムの追加方法や、メーラー機能、MVCの設定、ルーティング設定など、<br>Railsで重要なセクションを進めたことになります。</p><p>応用編さいごの実装になりますので、<br>それぞれの意味を理解しながら進めていきましょう。</p><p>それでは、お問い合わせフォームを設置しましょう！</p>
  </div>