  <div class="span4">
    <%= render 'layouts/navbar3' %>
  </div>
  <div class="span8">
  	<h1 id="mind"><a name="mind" href="#mind"></a>Mind</h1><hr class="page"><p>これから『新しい投稿にnewを表示させる』機能を実装していきます。<br>この機能は、ビューのページにまとめて変数を書き出し、表示させていきます。</p><p>このセクションで意識しておきたいポイント<br>・変数の構造と計算を理解する</p><p>それでは実装を進めてみましょう！</p>
  </div>