  <div class="span4">
    <%= render 'layouts/navbar3' %>
  </div>
  <div class="span8">
  	<h1 id="『new』を表示する期間を変更する"><a name="『new』を表示する期間を変更する" href="#『new』を表示する期間を変更する"></a>『new』を表示する期間を変更する</h1><hr class="page"><p>『new』の表示期間を変更します。<br>現在、newを出す日数を1日間となっていますが、今回は7日間に変更しましょう。</p><hr class="section"><p>【app/views/static_pages/home.html.erb】の以下の範囲を変更します。</p><pre><code class="ruby hljs" data-origin="&lt;pre&gt;&lt;code class=&quot;ruby&quot;&gt;&amp;lt;%# NEWを出す日数を設定 %&amp;gt;
&amp;lt;% newd = 7 %&amp;gt;
&lt;/code&gt;&lt;/pre&gt;">&lt;%<span class="hljs-comment"># NEWを出す日数を設定 %&gt;</span>
&lt;% newd = <span class="hljs-number">7</span> %&gt;
</code></pre>
  </div>