  <div class="span4">
    <%= render 'layouts/navbar5' %>
  </div>
  <div class="span8">
  	<h1 id="mind"><a name="mind" href="#mind"></a>Mind</h1>

  	<hr class="page">

  	<h4>なにをしていくのか？</h4>
  	<p>	このセクションでは、LPを形にする前の「決めごと」を設定し、<br>
	現状でどのようなクオリティのLPが作れるのか？課題として企画してもらいます。<br><br>

	LPでの決めごとは、<br>
	・何の商品・サービスを売るのか？<br>
	・誰に対して売るのか？<br>
	・そのコンセプトは何なのか？<br>
	・その商品に適したレイアウトはどうなのか？<br>
	・LPのゴール（コンバージョン）は何なのか？<br>
	・このページにたどり着くまでの導線はどうするか？<br><br>

	このようなコトになります。<br><br>

	たくさんの要素がありますが、<br>
	1つ1つクオリティの高い内容にすることで、<br>
	実際に商品が売れるようになりますので、<br>
	手を抜かずに考えていきましょう。</p>

	<hr class="underscore">

    <h4>どういうものをつくるのか</h4>
	<p>2-6.の復習になりますが、<br>
	どのようなLPがあるのか、まとめサイトを参考にいくつか見てみましょう。<br><br>

	実際、売り出す商品と同じようなジャンルのLPは、<br>
	そのジャンルに合わせたデザインや文章になっています。<br><br>

	これから自分で企画する上でも、<br>
	TTP（徹底的にパクる）精神を持って、<br>
	「良いな」と思う部分をメモしておきましょう。<br><br>

	それでは、LP企画セクションの学習をはじめて行きましょう。</p>
  </div>