  <div class="span4">
    <%= render 'layouts/navbar' %>
  </div>
  <div class="span8">
  	<h1 id="mind"><a name="mind" href="#mind"></a>mind</h1><hr class="page"><p>このセクションでは、Webアプリケーションを開発するために必要な開発環境を構築します。</p><p>今回は<strong>『Ruby on Rails』</strong>というRubyフレームワークを使うため、<br>それに付随したソフトウェアのインストールとバージョンを揃えていきます。</p><ul>
<li>Command Line Tools</li>
<li>Homebrew</li>
<li>rbenv</li>
<li>git</li>
<li>Ruby（Version:2.0.0-p353）</li>
<li>Ruby on Rails（Version:4.0.2）</li>
</ul><p><strong>『環境構築』</strong>は初心者が必ずつまずくポイントなので、<br>各ソフトウェアのバージョンを確認しながら進めていきましょう。</p>
<p>
※このセクションでインストールするソフトの中には重たいものもあり、ネット環境によっては少し時間がかかることがあるので、<br>
時間に余裕を持って作業ができる状態のときにしましょう。
</p>
  </div>
