  <div class="span4">
    <%= render 'layouts/navbar' %>
  </div>
  <div class="span8">
  	<h1 id="railsのバージョンを揃える"><a name="railsのバージョンを揃える" href="#railsのバージョンを揃える"></a>railsのバージョンを揃える</h1><hr class="page"><p>Ruby言語のフレームワークである【<strong>Ruby on Rails</strong>】をインストールします。<br>Ruby on Rails（以下：Rails）を使うと、簡単にWebアプリケーションを作ることが出来ます。</p><p>例えば、導入事例として、Twitter、Github、国内だとCookPadなど非常にたくさんの導入事例があります。</p><p>このようなWebサービスを開発するために、Railsをインストールしましょう。</p><p>Ruby on Railsの細かい説明に関しては以下のサイトを参照にしてください。<br><a href="https://www.oiax.co.jp/consulting/rails">Ruby on Rails とは - 株式会社オイアクス</a></p><hr class="section"><h3 id="1.ruby-on-railsをインストールする"><a name="1.ruby-on-railsをインストールする" href="#1.ruby-on-railsをインストールする"></a>1.Ruby on Railsをインストールする</h3><p>今回はRails4.0.2を使います。<br>※ネット環境によりインストールに時間がかかります。（30分〜1時間）</p><pre><code class="ruby hljs" data-origin="&lt;pre&gt;&lt;code class=&quot;ruby&quot;&gt;$ sudo gem install rails -v 4.0.2
&lt;/code&gt;&lt;/pre&gt;"><span class="hljs-variable">$ </span>sudo gem install rails -v <span class="hljs-number">4.0</span>.<span class="hljs-number">2</span>
</code></pre><h3 id="2.インストールされたrailsを確認"><a name="2.インストールされたrailsを確認" href="#2.インストールされたrailsを確認"></a>2.インストールされたRailsを確認</h3><pre><code data-origin="&lt;pre&gt;&lt;code&gt;$ gem list rails

*** LOCAL GEMS ***
rails (4.0.2)
&lt;/code&gt;&lt;/pre&gt;">$ gem list rails

*** LOCAL GEMS ***
rails (4.0.2)
</code></pre><h3 id="3.インストールしたgemを有効にするために以下を実行"><a name="3.インストールしたgemを有効にするために以下を実行" href="#3.インストールしたgemを有効にするために以下を実行"></a>3.インストールしたgemを有効にするために以下を実行</h3><p>gemでインストールしたRailsを有効にします。</p><pre><code class="ruby hljs" data-origin="&lt;pre&gt;&lt;code class=&quot;ruby&quot;&gt;$ rbenv rehash
&lt;/code&gt;&lt;/pre&gt;"><span class="hljs-variable">$ </span>rbenv rehash
</code></pre><p>以上で、Ruby on Railsの環境が整ったので、Webアプリケーションの開発を進めることができます。</p>
  </div>