  <div class="span4">
    <%= render 'layouts/navbar' %>
  </div>
  <div class="span8">
  	<h1 id="rbenvをセットアップ"><a name="rbenvをセットアップ" href="#rbenvをセットアップ"></a>rbenvをセットアップ</h1><hr class="page"><p>【<strong>rbenv</strong>】はrubyをインストールするためのツールになります。</p><p>Mac OSにはもともとRubyが導入されておりますが、<br>複数バージョンのRubyを管理をするためのツールとして<br>【<strong>rbenv + ruby-build</strong>】を使用するのがポピュラーな使い方です。</p><hr class="section"><h3 id="1.rbenvのインストール"><a name="1.rbenvのインストール" href="#1.rbenvのインストール"></a>1.rbenvのインストール</h3><pre><code class="ruby hljs" data-origin="&lt;pre&gt;&lt;code class=&quot;ruby&quot;&gt;$ brew install rbenv
&lt;/code&gt;&lt;/pre&gt;"><span class="hljs-variable">$ </span>brew install rbenv
</code></pre><h3 id="2.ruby-buildのインストール"><a name="2.ruby-buildのインストール" href="#2.ruby-buildのインストール"></a>2.ruby-buildのインストール</h3><pre><code class="ruby hljs" data-origin="&lt;pre&gt;&lt;code class=&quot;ruby&quot;&gt;$ brew install ruby-build
&lt;/code&gt;&lt;/pre&gt;"><span class="hljs-variable">$ </span>brew install ruby-build
</code></pre>
  </div>