  <div class="span4">
    <%= render 'layouts/navbar4' %>
  </div>
  <div class="span8">
  	<h1 id="機能一覧以外の作業を洗い出す"><a name="機能一覧以外の作業を洗い出す" href="#機能一覧以外の作業を洗い出す"></a>機能一覧以外の作業を洗い出す</h1><hr class="page"><p>開発には機能一覧以外の作業も必要になります。<br>具体的には<strong>【サイトデザイン作成】【HTMLコーディング】【サーバー設定】</strong>などです。</p><p>工数を記載した機能一覧表をプロジェクト管理表として複製します。</p><p>タイトルをプロジェクト管理表として、項目を次のように変更します。</p><ul>
<li>【機能分類】→【分類】</li>
<li>【機能】→【作業】</li>
</ul><hr class="section"><p><%= image_tag"4_5_003.gif", :alt => "プロジェクト管理表" %></p><hr class="section"><p>想定される機能一覧以外の作業を、機能と同様のながれで記載をしていきます。</p><hr class="section"><p><%= image_tag"4_5_004.gif", :alt => "プロジェクト管理表" %></p><hr class="section"><p>以上で機能一覧以外の作業を洗い出しは完了です。</p>
  </div>