  <div class="span4">
    <%= render 'layouts/navbar4' %>
  </div>
  <div class="span8">
  	<h1 id="機能一覧表から工数を割り出す"><a name="機能一覧表から工数を割り出す" href="#機能一覧表から工数を割り出す"></a>機能一覧表から工数を割り出す</h1><hr class="page"><p>まず機能一覧表から工数を割り出していきます。<br>機能を実装する作業がどれくらいかかりそうかを考えて機能一覧表示に書き加えていきます。</p><p>機能一覧表を複製して<strong>【工数】【完了予定日】【完了日】</strong>の項目を追加します。</p><hr class="section"><p><%= image_tag"4_5_001.gif", :alt => "機能一覧表" %></p><hr class="section"><p>次に追加した項目の<strong>【工数】【完了予定日】</strong>を機能実装の作業をイメージしながら、かかりそうな工数を記入していきます。</p><p>開発工数はハマった時のことを考えてバッファも含めて見積もります。<br>作業イメージがわくものは×1、作業イメージのわかないものは×1.5くらいを目安に想定作業時間を割り出します。</p><p>工数の記載が終わったら完了日のスケジュールを記入していきましょう。</p><hr class="section"><p><%= image_tag"4_5_002.gif", :alt => "機能一覧表" %></p><hr class="section"><p>以上で機能一覧の工数の割り出しは完了です。</p>
  </div>