  <div class="span4">
    <%= render 'layouts/navbar4' %>
  </div>
  <div class="span8">
  	<h1 id="mind"><a name="mind" href="#mind"></a>Mind</h1><hr class="page"><p>このセクションでは、開発計画を立てていきます。</p><p>具体的には工数（作業にどのくらい時間がかかるか）を割り出し、スケジュールに反映していきます。<br>なりゆきで開発を始めるとさまざまな方向に脱線したり、先延ばしにしてしまったりします。</p><p>しっかりと公開日を決め、できるだけ細かく具体的タスクを切っていくと工数計算もやりやすくなります。</p><p>このセクションで意識しておきたいポイント</p><ul>
<li>機能や必要な作業をできるだけ細かく具体的に洗い出す。</li>
<li>機能の実装順もどのような順序が効率的か考えてみましょう。</li>
<li>正確な工数を割り出すのは難しいので感覚値で割り当てます。</li>
</ul><p>それでは実際に計画をしていきましょう。</p>
  </div>