  <div class="span4">
    <%= render 'layouts/navbar4' %>
  </div>
  <div class="span8">
  	<h1 id="全体工数の把握"><a name="全体工数の把握" href="#全体工数の把握"></a>全体工数の把握</h1><hr class="page"><p>最後にプロジェクトの全体工数を把握して公開日を決定します。</p><p>プロジェクト管理表に<strong>【工数合計】【公開予定日】</strong>を追加して、工数合計はプロジェクト管理表の工数を足して記入します。</p><p>公開日についてはテスト確認作業なども想定すると、作業一覧の完了予定日の一番遅いものに必要な日数を足して記載しましょう。</p><hr class="section"><p><%= image_tag"4_5_005.gif", :alt => "プロジェクト管理表" %></p><hr class="section"><p>以上で開発計画は完了となります。</p>
  </div>