  <div class="span4">
    <%= render 'layouts/navbar5' %>
  </div>
  <div class="span8">
  	<h1 id="レイアウト"><a name="レイアウト" href="#レイアウト"></a>レイアウト</h1>

  	<hr class="page">

  	<p>LPやWEBサイトに限らず、ページの「レイアウト」を<br>
  	考えることが重要になります。<br><br>

	例えば、雑誌やカタログのレイアウトは、<br>
	「実際にモノを身につけているイメージをしてもらう」<br>
	ためのレイアウトになっていますし、<br>
	カフェや喫茶店のレイアウトは、<br>
	「ナチュラルな雰囲気のために木目調のテーブルとイス」<br>
	「黒と白のモノトーンで都会的なスピード感ある雰囲気作り」<br>
	といったように、各お店の『コンセプト』に沿った内装になっています。<br><br>

	同様に、LPを企画していく場合にも、商品やターゲットに沿った<br>
	「レイアウト」を考える必要があります。<br><br>

	レイアウトについては、以下に資料を用意しましたので、<br>
	コチラを読みながら学んでいきましょう。</p>


	<p><%= link_to "《レイアウトpdfをダウンロード》",{:controller => "application",:action=>"downloadpdf"} %></p>
  </div>