<ul class="nav nav-list well">
  <li class="nav-header">仕事獲得</li>
    <li><%= link_to "Mind",   chapter5_section1_manual1_path %></li>
    <li><%= link_to "仕事獲得スキーム",   chapter5_section1_manual2_path %></li>
</ul>

